.btn {
    float: right;
  
  }
  .boxx{
    box-sizing: 100%;
  }
  
  th{
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  td{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: medium;
  }
  th { background: #c5c5c5;}
  table 
  {
  border-collapse: collapse;
  width: 100%;
  }
  td, th { border: 1px solid #cdcdcd; padding: 8px;}
  .form-group
  {
  background-color: lightgrey;
  }
  
  tbody
  {
  text-align: center;
  
  }
  
  .table-wrapper
  {
    display: block;
  }
  .search{
  margin-left: 0px;
  }
  .button{
  
    padding-right:50px;
  }
  .button1{
  
  padding-right:50px;
  }
  
  
  
  .dark-modal .modal-content {
  background-color: #292b2c;
  color: white;

  }
  .dark-modal .close {
  color: white;
  }
  .light-blue-backdrop {
  background-color: #5cb3fd;
  }
  
  
  .modal-backdrop {
  z-index: 1040 !important;
  }
  .modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
  height:auto;
  width:600px;
  }
  #title1{
    font-size: 20px;
  
    color:rgb(0, 0, 139);
    font-weight:bolder;
    text-align:center;
    text-decoration: solid;
  
    font-weight:900;
  }
  .modal-title{
    color:rgb(0, 0, 139);
    text-decoration: solid;
    font-size: larger;
    font-weight:900;
  }
  
  .text-center{
    width: 500px;
    background-color: darkblue;
  
  }
  .modal-content{
    margin-top: 5%;
    -webkit-box-shadow: 9px 10px 30px 0px;
    -moz-box-shadow: 9px 10px 30px 0px ;
    box-shadow: 9px 10px 30px 0px;
    padding: 20px; /* Add padding as needed */
    border-radius: 10px; /* Add border-radius as needed */
    height:100%;
    width:100%;
    background-color: rgb(255, 253, 253);
    z-index:-1;
   
  }
  .input2 {
    min-width: 200px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 6px;
    outline: 10px;
    border: 15px;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  .input2:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  .input2:hover {
    outline: 3px solid lightgrey;
  }
  ::ng-deep .mat-select-value {
    text-align: left;
    margin-top: 8%;
  }
  .modal-title{
    color:rgb(0, 0, 139);
    text-decoration: solid;
    font-size: larger;
    font-weight:900;
  }
  