
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add Shift</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="reset()" (click)="modal.dismiss('Cross click')">X</button>
        </div>
        <div class="modal-content container">
            <br>
            <form [formGroup] = "form">
                <div class="row">
                    <div class="col">
                        <label>Shift Name: </label><br>
                        <input class="form-control"  type = "text" formControlName = "shift_desc">
                    </div><br>
                    <!-- <div class="col">
                        <label>Plant Code:</label><br>
                        <input class="form-control"  type = "text" formControlName = "plant_name">
                    </div> -->
                    <div class="col">
                        <label>Shift Group: </label><br>
                        <input class="form-control"  type = "text" formControlName = "shift_group">
                    </div>
                </div><br><br>

                <div class="row">
                    <div class="col">
                        <label>Start Time: </label><br>
                        <input class="form-control"  type = "time" formControlName = "act_tm_from">
                    </div>
                    <div class="col">
                        <label>End Time: </label><br>
                        <input class="form-control"  type = "time" formControlName = "act_tm_to">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label>max time: </label><br>
                        <input class="form-control"  type = "time" formControlName = "in_tm_max">
                    </div>
                    <div class="col">
                        <label>min Time: </label><br>
                        <input class="form-control"  type = "time" formControlName = "in_tm_min">
                    </div></div>
                <br>

                <div class="row">
                    <div class="col">
                        <label>shift type: </label><br>
                        <input class="form-control"  type = "text" formControlName = "type">
                    </div>
                    <div class="col">
                        <label>security shift: </label><br>
                        <input class="form-control"  type = "text" formControlName = "security_shift">
                    </div></div>
                <br>
               
  
            </form>
        </div>
        <div class="modal-footer">
            <button *ngIf="editing_flag==false"  type="button" class="btn btn-success" (click)="save()" >Save</button>
            <button *ngIf="editing_flag==true" type="button" class="btn btn-success" (click)="editSave()" (click)="modal.close('Close click')" >Save</button>
            <button type="button" class="btn btn-danger" (click)="reset()" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
    <div class="container">
  <br>
  <div>
    <h1 class="title" >Shift Master</h1>
    <hr style="border-block-color: orange" />
  </div>
  <div class="button">
    <button mat-fab color="primary" (click)="open(content)"  style="float: right" aria-label="Example icon button with a delete icon">
        <mat-icon>person_add</mat-icon>
    </button></div>
    <div class = "button1">
    <button mat-fab style="float: right" aria-label="Example icon button with a delete icon" (click)="exportexcel()">
        <mat-icon>download</mat-icon>
    </button></div>
  <br><br><br>
  <div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
            <th
                       div class="text-center"
              >
                 SNo
                 <th
                       div class="text-center"
              >
                 Shift Name
              </th>
              <th
                       div class="text-center"
              >
                 Plant Code
              </th>
             
              <th
                       div class="text-center"
              >
                 Start Time
              </th>
              <th
                       div class="text-center"
              >
                  End Time
              </th>
              <th
                       div class="text-center"
              >
                 Min time
              </th>
              <th
                       div class="text-center"
              >
                  max time
              </th>
            <th
                       div class="text-center"
              >
                  Shift type
              </th>
              <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
                >
                    security shift
                </th>
             
              <th
                       div class="text-center"
                      >
                  Action
              </th>
            </tr>
            </thead>
            <tbody >
                <tr *ngFor = "let i of shift; let a = index">
                   <td>{{a+1}}</td>
                    <td>{{i.shift_desc}}</td>
                    <td>{{i.plant_desc}}</td>
                    <td>{{i.act_tm_from.slice(i.act_tm_from.indexOf('T')+1, i.act_tm_from.indexOf('.'))}}</td>
                    <td>{{i.act_tm_to.slice(i.act_tm_to.indexOf('T')+1, i.act_tm_to.indexOf('.'))}}</td>
                    <td>{{i.in_tm_min.slice(i.in_tm_min.indexOf('T')+1, i.in_tm_min.indexOf('.'))}}</td>
                    <td>{{i.in_tm_max.slice(i.in_tm_min.indexOf('T')+1, i.in_tm_max.indexOf('.'))}}</td>
                    <td>{{i.type}}</td>
                    <td>{{i.security_shift}}</td>

  
                    <td>
                        <button mat-mini-fab color = 'accent' (click)= "edit(a, i.shift_id)" (click)="opentoedit(content)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" type="button" (click)="delete(a, i.shift_id)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
  </div>
  
  
    </div>