<br><br><br>
<div class = "px-5">
    <button mat-fab style="float: right" (click)="exportexcel()">
        <mat-icon>download</mat-icon>
    </button></div>
    <h1 class="title" >Comp Off Status</h1>
    <hr style="border-block-color: orange" />
    <div class = "table-wrapper">
      <table class="table table-bordered table-striped table-hover">
        <table id="table">
            <thead>
            <tr>
              <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue">SNo
              </th>
              <th div class="text-center">ID</th>
              <th div class="text-center">Name</th>
              <th div class="text-center">att Date</th>
              <th div class="text-center">Actual In</th>
              <th div class="text-center">Actual Out</th>
              <th div class="text-center">Requested In</th>
              <th div class="text-center">Requested Out</th>
              <th div class="text-center">Reason</th>
                
              </tr>
              </thead>
              <tbody >
                  <tr *ngFor = "let i of table_data; let a = index">
                      <td>{{a+1}}</td>
                      <td>{{i.EmpID}}</td>
                      <td>{{i.EmpName}}</td>
                      <td>{{i.attDate}}</td>
                      <td>{{i.actualIn}}</td>
                      <td>{{i.actualOut}}</td>
                      <td>{{i.requestedIn}}</td>
                      <td>{{i.requestedOut}}</td>
                      <td>{{i.reason}}</td>
                  </tr>
              </tbody>
          </table>
      </table>
    </div>