.btn{
    border-radius: 5px;
    margin-left:50%;
    
}
h3{
    margin-top:20px;
    font-weight:bold;
}
input{
    border-radius:5px;
}
input:hover{
    border:2px solid grey;

}
select{
    border-radius:5px;
}
select:hover{
    border:5px solid grey;
}

.row{
    white-space: nowrap;
}
.move{
    position:absolute;
    left:10%;
}