<div style="width: 100%">
    <div class="div-c" style="color: #2A2550">
        <h1>On-Duty</h1>
    </div>
    <mat-divider style="padding-bottom: 10px"></mat-divider>
    <div style="padding-left: 40px">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Select Date:</h2>
                <div class="datepicker">
                    <mat-calendar #calendar [(selected)]="selectedDate"></mat-calendar>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Choose a reason:</h2>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <div class="reason">
                    <mat-form-field appearance="outline">
                        <mat-label>Reason</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>
                <br>
                <button mat-raised-button color="warn" type="submit">Submit</button>
            </div>
        </div>
    </div>

</div>