
    <div  style = "margin-top: 40px;">
        <div  style = "margin-left: 40px;">
    <div>
        <h1><b>Department Transfer</b></h1>
    </div> 
<div class="container">
<div class="form-container1">
    <div class="row">
        <div class = "col-sm-4"><b><p>From Date : </p></b>
            <input  class="input2" type="date" [(ngModel)]="from" (ngModelChange)="call($event)">
          </div>
          <div class = "col-sm-4"><b><p>To Date : </p></b>
            <input  class="input2" type="date"  [(ngModel)]="to" (ngModelchange)="call2($event)">
          </div>
        </div><br>
        <div class="row">
            <div class="col-sm-4">
    <b><p>Name : </p></b>

            <input type="text" class="input2" [(ngModel)]="searchText">
        </div>
        <div class = "col-sm-3"><b><p>Department Name </p></b>
                <mat-select class="input2" [(ngModel)]="dept">
                    <mat-option value="" selected>--SELECT--</mat-option>
                    <mat-option value="" *ngFor="let i of department" [value]="i.dept_name">{{i.dept_name}}</mat-option>
                </mat-select>
            </div>
    </div></div>
    </div>
    <br><br></div>
    <app-loader *ngIf="loader.isLoding | async;else show"></app-loader>
    <ng-template #show>
        <div class="dept-container">
        <div class = "table-wrapper">
        <table class="table table-bordered table-striped table-hover">
          <table id="table">
              <thead>
              <tr>
                  <th
                          div class="text-center  " style="width:2200px"
                        
                  >
                     Date
                  </th>
                  <th
                          div class="text-center "
                  >
                      Full Name
                  </th>
                  <th
                          div class="text-center"
                  >
                      Father Name
                  </th>
                  <th
                          div class="text-center" style="width:2200px"
                  >
                      DOB 
                  </th>
                  <th
                          div class="text-center"
                  >
                      Mobile Number
                  </th>
                  <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
                >
                     Gen ID
                 </th>
                <th
                          div class="text-center"
                  >
                      Department
                  </th>
                  <th
                          div class="text-center"
                  >
                      Aadhar Number
                  </th>
                  <th
                          div class="text-center"
                  >
                      Application Status
                  </th>
    
                  <th
                          div class="text-center"
                          >
                     Edit
                  </th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of filterinfo | dateRangeFilter:from:to:'doj' | filter:searchText | deptFilter: dept ">
                        <td >{{ i.doj.split('T')[0] | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ i.fullname }}</td>
                        <td>{{ i.fathername }}</td>
                        <td>{{ i.birthdate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ i.mobile_no1 }}</td>
                        <td>{{i.gen_id}}</td>
                        <td>{{ i.dept_name }}</td>
                        <td>{{ i.aadhar_no }}</td>
                        <td>{{ i.apln_status }}</td>
                        <td>
                            <div>
                            <button mat-raised-button mat-mini-fab color = "success" [routerLink]="['/rml/new_joiners/transfer_form', i.gen_id, i.dept_slno, i.line_code, i.apln_slno]" >
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                        </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </table></div>
        </div></ng-template>
    

    <!-- <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="getPremiumData();">
    </ngb-pagination> -->
  
    <!-- <select class="form-control" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getPremiumData();">
      <option [ngValue]="100">100 items per page</option>
      <option [ngValue]="50" selected>50 items per page</option>
      <option [ngValue]="25">25 items per page</option>
    </select> -->
    <br><br>

