
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add Line</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="reset()" (click)="modal.dismiss('Cross click')">X</button>
        </div>
        <div class="modal-content container">
            <br>
            <form [formGroup] = "form">
                <div class="row">
                <div class="col">
                        <label>Plant Name: </label><br>
                        <input class="form-control"  type = "text" formControlName = "line_name">
                    </div>
              
                        <div class="col">                            
                            <label>Department: </label><br>
                            <select><option *ngFor= "let i of line">{{i}}</option></select>
                        </div></div>
                    <div class= "row">
                    <div class="col">
                            <label>Line Name: </label><br>
                            <input class="form-control"  type = "text" formControlName = "module_code">
                        </div>
        
                        <div class="col">
                                <label>Personal Subarea: </label><br>
                                <input class="form-control"  type = "text" formControlName = "plant_code">
                            </div>
                </div><br>
               
  
            </form>
        </div>
        <div class="modal-footer">
            <button *ngIf="editing_flag==false"  type="button" class="btn btn-success" (click)="save()" (click)="modal.close('Close click')" >Save</button>
            <button *ngIf="editing_flag==true" type="button" class="btn btn-success" (click)="editSave()" (click)="modal.close('Close click')" >Save</button>
            <button type="button" class="btn btn-danger" (click)="reset()" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
  <br>
  <div>
    <h1 class="title" >Line Master</h1>
    <hr style="border-block-color: orange" />
  </div>
  <div class="button">
    <button mat-fab color="primary" (click)="open(content)"  style="float: right" aria-label="Example icon button with a delete icon">
        <mat-icon>person_add</mat-icon>
    </button></div>
    <div class = "button1">
    <button mat-fab style="float: right" aria-label="Example icon button with a delete icon" (click)="exportexcel()">
        <mat-icon>download</mat-icon>
    </button></div>
  <br><br><br>
  <div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
            <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                 Plant Desc
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                 Plant Name
              </th>
              <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
      >
        Department
      </th>
      <th
      class="text-center"
      style="width: 500px"
      style="background-color: darkblue"
>
 Line Name
</th>
<th
class="text-center"
style="width: 500px"
style="background-color: darkblue"
>
Personal Subarea
</th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
                      >
                  Action
              </th>
            </tr>
            </thead>
            <tbody >
                <tr *ngFor = "let i of line; let a = index">
                   <td>{{a+1}}</td>
                    <td>{{i.plant_name}}</td>
                    <td>{{i.department}}</td>
                    <td>{{i.line_name}}</td>
                    <td>{{i.personal_subarea}}</td>   
                    <td>
                        <button mat-mini-fab color = 'accent' (click)= "edit(a)" (click)="opentoedit(content)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" type="button" (click)="delete(a)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
  </div>
  
  
  