<form [formGroup]="form">
  <div *ngFor="let i of formvalues" class="container">
    <div class="card bg-image">
      <div class="row px-2">
        <img style="float: left; margin-left: 10px;" class="img" width="100px" height="75px" src="assets/rane.png" alt="Avatar"></div>
      <img class="row text-center img" width="120px" height="150px" [src]=this.url alt="Avatar"><br>
      <table class="font">

        <div class="mx-5" style="align-items: center; text-align: center;">
          <tr class="font">
            <div style="padding-left: 5px;">
              <div class="name-container" style="font-size: large; text-align: center; font-size: 30px; "><textarea style="height:100px;width:300px; line-height: 1;" readonly>{{i.fullname}}</textarea></div><br>

              <div style="font-size: large; text-align: center; font-size: 20px;">Trainee ID:{{i.gen_id}}</div>
              <br><br>
              <div style="font-size: large; text-align: center; font-size: 16px; display: inline-block;"><b>Valid from :</b> {{frommdate}} to
                {{toodate}}</div>
              <!-- <tr></div><div class="md">
                    <td div class="aligncommand1"><b> Valid from</b></td>
                    <td div class="aligncommand1">:{{frommdate}}</td><br>
                <tr> 
                    <td div class="aligncommand1"><b> Valid to</b></td>
                    <td div class="aligncommand1">:{{toodate}}</td><br><br> -->
            </div><br><br>
        </div>
          <img class="sign" width="100px" height="75px"  [src]=this.plant alt="Avatar">
        <br><br><br><br>
        <div class="sign1">
          <b>Issuing Authority </b>
        </div>
      </table>
    </div>
    <div class="card bg-image2">
      <div class="container2">
        <div class="col-sm-8">
          <table class="font">
            <div class="center">
              <div class="mx-3"><br>
                <div class="header"><b>
                    <p>Rane(Madras)Limited</p>
                  </b></div>
                <div class="font2 comp_addr">
                  <p><textarea formControlName="company_address" readonly style="height:80px;width:350px;"> </textarea>
                  </p>
                </div>
              </div>
            </div>
            <div class="md">
              <tr>
                <td div class="aligncommand1"><b> Date Of Birth</b></td>
                <td div class="aligncommand1">:{{i.birthdate | date: 'dd/MM/yyyy'}}</td>
              <tr>
                <td div class="aligncommand1"><b>Blood Group</b></td>
                <td div class="aligncommand1">:{{i.blood_group}}</td>
              <tr>
                <td div class="aligncommand1"><b>Biometric No</b></td>
                <td div class="aligncommand1">:{{i.biometric_no}}</td>
            </div><br>
            <div style="font-size: 25px;"> <b>Address:</b></div><br>
            <div>{{i.permanent_address}}</div><br>
            <!-- <textarea class = 'home_addr' type="text" formControlName="permanent" readonly style="width: 350px;height:auto;font-size: 15px;"></textarea> -->
            <div class="md">
              <tr>
                <td div class="aligncommand1"><b>Contact No</b></td>
                <td div class="aligncommand1">:{{i.mobile_no1}}</td>
              <tr>
                <td div class="aligncommand1"><b>Empl.Nature</b></td>
                <td div class="aligncommand1">:Trainee</td>
              <tr>
                <td div class="aligncommand1"><b>Department</b></td>
                <td div class="aligncommand1">:{{i.dept_name}}</td>

            </div>
            <br>
            <tr class="font">
              <u>
                <td div class="fs-text"><b>Emergency contact</b></td>
              </u>
              <td></td><br>
              <br>
            </tr>
            <div class="md" style="background-color: transparent;">
              <tr>
                <td div class="aligncommand1"><b>Name</b></td>
                <td div class="aligncommand1">:{{i.emergency_name}}</td>
              <tr>
                <td div class="aligncommand1"><b>Relation</b></td>
                <td div class="aligncommand1">:{{i.emergency_rel}}</td>
              <tr>
                <td div class="aligncommand1"><b>Mobile No</b></td>
                <td div class="aligncommand1">:{{i.mobile_no2}}</td>

            </div>
          </table>
        </div>

      </div>
    </div>
  </div>
</form>