.card{
  cursor: pointer;
height: 430px;
width:270px;
background-color: rgb(250, 250, 250);
border: 5px black ;
border-radius: 20px;
box-shadow: 12px 10px 45px -8px rgba(0,0,0,0.67);
-webkit-box-shadow: 12px 10px 45px -8px rgba(0,0,0,0.67);
-moz-box-shadow: 12px 10px 45px -8px rgba(0,0,0,0.67);
z-index: 1;
background-image:cover;
text-align: center;
background-image: url("src/assets/img.jpeg");


}

  
  .left{
    text-align: right;
    float: right;
    padding-left: 0px;
  }
  
  .container {
    font-size:15px;
    padding-top: 100px;
    padding-left: 10%;
  
  }
  .container2 {
    font-size:15px;
    padding-top: 20px;
    padding-right: -100px;
    align-items: center;
  
  
  }
  .shift{
    margin-left:100px;
  }
  
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .spacing{
    float: right;
    padding: 100px;
  }
  
  .left1{
    text-align:right;
    padding-right:0%
  }
  
  .font
  {
    font-size: 15px;
  }
  
  textarea{
    resize: none;
    border-color: white;
    text-align: center;
  }
  
  .font2{
    font-size: 15px;
    width: 50%;
  }
  .header{
    text-align: center;
    font-size: 25px;
  }
  .img{
    margin-left: 35%;
    height: 100px;
    width: 25%;
  }
  .img2{
    /* margin-left: 35%; */
    height: 70px;
    width: 40%;
  }
  .sign{
    margin-left: 65%;
    width: 70%;
  
  }
  .sign1{
    margin-left:65%;
    font-size: large;
    margin-bottom: 2%;
  }
  .company_addr{
    text-align:center;
    border-radius: 2px;
    border-color: white;
  }
  .home_addr{
    align-self: left;
    text-align:left;
    border-radius: 2px;
    border-color: white;
  }
  .space{
    word-spacing: 20px;
  }
  .name{
    text-align: center;
    font-size: 20px;
  }
  .aligncommand1{
  

     line-height: 10%;
     text-align: left;
     background-color: white;
  }
  .fs-text{
    font-size: 25px;
  }
  .table{
    width:200px ;
    margin-left:2px;
  }
  .row{
  
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
    
  }
  
  .container1{
    height:100%;
    width:100%
  }
  .bg{
    background-size:100%;
    object-fit: cover ;
  }