
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add User</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="reset()" (click)="modal.dismiss('Cross click')">X</button>
        </div>
        <div class="modal-content container">
            <br>
            <form [formGroup] = "form">
                <div class="row">
                    <div class="col">
                        <label>Company Code: </label><br>
                        <input class="form-control"  type = "number" formControlName = "company_code">
                    </div>
                    <div class="col">
                        <label>Company Name: </label><br>
                        <input class="form-control"  type = "text" formControlName = "company_name">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                      <label>Active Status</label>
                      <br>
                      <input type="radio" name = 'status' formControlName="active_status" value="Active">Active<br>

                      <input type="radio" name = 'status' formcontrolname="active_status" value="Inactive">Inactive
                          
                      
      
                    </div>
                </div>
  
            </form>
        </div>
        <div class="modal-footer">
            <button *ngIf="editing_flag==false"  type="button" class="btn btn-light" (click)="save()" (click)="modal.close('Close click')" >Save</button>
            <button *ngIf="editing_flag==true" type="button" class="btn btn-light" (click)="editSave()" (click)="modal.close('Close click')" >Save</button>
            <button type="button" class="btn btn-light" (click)="reset()" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
  <br>
  <div>
    <h1 class="title" >Company Masters</h1>
    <hr style="border-block-color: orange" />
  </div>
  <div class="button">
    <button mat-fab color="primary" (click)="open(content)"  style="float: right" aria-label="Example icon button with a delete icon">
        <mat-icon>person_add</mat-icon>
    </button></div>
    <div class = "button1">
    <button mat-fab style="float: right" aria-label="Example icon button with a delete icon" (click)="exportexcel()">
        <mat-icon>download</mat-icon>
    </button></div>
  <br><br><br>
  <div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
            <th
            class="text-center"
            style="width: 500px"
            style="background-color: darkblue"
    >
       SNo
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                 Company Code
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                Company Name
              </th>
              <th
                      class="text-center"
                      style="width: 800px"
                      style="background-color: darkblue"
              >

                  Active Status 
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Created On
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Created By
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Modified On
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
                      >
                      Modified By
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
                      >
                  Action
              </th>
            </tr>
            </thead>
            <tbody >
                <tr *ngFor = "let i of dummy; let a = index">
                    <td>{{a+1}}</td>
                    <td>{{i.company_code}}</td>
                    <td>{{i.company_name}}</td>
                    <td>{{i.status}}</td>
                    <td>{{i.created_on.split('T')[0]}}</td>
                    <td>{{i.created_by}}</td>
                    <td>{{i.modified_on.split('T')[0]}}</td>
                    <td>{{i.modified_by}}</td>
  
                    <td>
                        <button mat-mini-fab color = 'accent' (click)= "edit(a)" (click)="opentoedit(content)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" type="button" (click)="delete(a)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
  </div>
  
  
  