.btn{
    
    margin-left:50%;
    width:max-content 
}

h3{
    margin-top:20px;
    font-weight:bold;
}
input{
    width: 900px;
    border-color: black;

}
.select{
    width: 900px;
    border-radius: 0px;
    border-color: black;
}

.row{
    white-space: nowrap;
}

.form-group{
    width: 900px;
}
.alert {
    width: 900px;
}