.basic-btn{
    border-radius: 0px;
    margin-left:50%;
    width:90px 

}


h3{
    margin-top:20px;
    font-weight:bold;
}


.row{
    white-space: nowrap;
}


.alert {
  
 border-radius: 0px;
}

.mx-5{
    background-color: rgb(255, 255, 255);
}

.star-color{
    color: red;
}
.container{
    justify-content: left;
}
.background{
    position: absolute;
    margin: auto;
}
.table{
  border-radius: 10px;
}
.form-control{
    font-size: 16px;
}
.alert{
    color: red;
}.form-header{
    background-color: white;
    color:black;
    font-size: 16px;
}