.btn{
    
    margin-left:50%;
    width:max-content
}
h3{
    margin-top:20px;
    font-weight:bold;
}
input{
    width: 300px;
  
}
input:hover{
    width:300px;
    border:0px solid grey;  
}

.row{
    white-space: nowrap;
}