
<ng-template #content let-modal>
    <div class="modal-content-container">
    <div class="modal-header">
        <h4 class="modal-title">Add Designation Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="reset()" (click)="modal.dismiss('Cross click')">X</button>
    </div>
  
        <br>
        <form [formGroup] = "form">
            <div class = "row">
                <div class="col">
                    <label>Plant Name: </label><br>
                    <select (change)="get_slno($event)" class="input2" formControlName = "plant_name" ><option value="">choose an option</option><option  *ngFor= "let i of plantname" [ngValue]="i.plant_code">{{i.plant_name}}</option></select>
                </div>
                <div class="col">
                    <label>Designation Name: </label><br>
                    <input class="input2"  type = "text" formControlName = "desig_name">
                </div>
            <br>
         <br>
            </div><br>

        </form>
    </div>
    <div class="modal-footer">
        <button *ngIf="editing_flag==false"  type="button" class="btn btn-success" (click)="save()" (click)="modal.close('Close click')" >Save</button>
        <button *ngIf="editing_flag==true" type="button" class="btn btn-success" (click)="editSave()" (click)="modal.close('Close click')" >Save</button>
        <button type="button" class="btn btn-danger" (click)="reset()" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>
    <div class="container">
  <br>
  <div>
    <h1 id = "title1" >Designation Master</h1>
    <hr style="border-block-color: orange" />
  </div>
  <div class="button">
    <button mat-fab color="primary" (click)="open(content)"  style="float: right" aria-label="Example icon button with a delete icon">
        <mat-icon>person_add</mat-icon>
    </button></div>
    <div class = "button1">
    <button mat-fab style="float: right" aria-label="Example icon button with a delete icon" (click)="exportexcel()">
        <mat-icon>download</mat-icon>
    </button></div>
  <br><br><br>
  <app-loader *ngIf="loader.isLoding | async;else show"></app-loader>
      <ng-template #show>
  <div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
            <th
                       div class="text-center"
              >
                 SNo
              <th
                       div class="text-center"
              >
                 Designation Name
              </th>
              <th
                       div class="text-center"
              >
                  Plant Name
              </th>
             
             
              <th
                       div class="text-center"
                      >
                  Action
              </th>
            </tr>
            </thead>
            <tbody >
                <tr *ngFor = "let i of designation; let a = index">
                   <td>{{a+1}}</td>
                    <td>{{i.desig_name}}</td>
                    <td>{{i.plant_name}}</td>
  
                    <td>
                        <button mat-mini-fab color = 'accent' (click)= "edit(a)" (click)="opentoedit(content)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" type="button" (click)="delete(a, i.slno)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
  </div>
  
      </ng-template>
    </div>