<h2> Trainee Id: </h2>
<div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                Q.no
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                Module Name
              </th>
              <th
                      class="text-center"
                      style="width: 800px"
                      style="background-color: darkblue"
              >
                Questions
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                Correct answer 
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                Pre-Training Answer selected
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                Post-Training Answer selected
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                Post Training Answer1 selected
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
                      >
                Pre Training Score
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
                      >
                Post Training Score
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
                      >
                Post Training Score1
              </th>
            </tr>
            </thead>
            </table>
    </table>
</div>