<div class="mx-5">
<h3>Previous Employment <button (click)="AddRow()" class="btn btn-success btn-lg ml-5">Add Row</button></h3>

<form [formGroup]="fg" (ngSubmit)="onSubmit()">
 <ol formArrayName="prev">
    <li *ngFor = "let p of prevArray.controls;let i = index" [formGroupName]="i">
        <hr>
        <div class="col-12">
        <div class="row">
             <label class="form-label"><b class="ml-3"> Employment  {{i+1}} :</b></label>
             <div class="col-sm-2">
                  <label class="form-label">Name of the company:</label>
                  <input type="text" formControlName="nameOfCompany" class="form-control" placeholder="Name of the company">
                <p *ngIf="prevArray.controls[i].get('nameOfCompany')?.touched && prevArray.controls[i].get('nameOfCompany')?.errors?.required" class="text-danger">Enter the Name of the company</p>
             </div>
             <div class="col-sm-2">
              <label class="form-label">Designation:</label>
              <input type="text" formControlName="desig" class="form-control" placeholder="Designation">
            <p *ngIf="prevArray.controls[i].get('desig')?.touched && prevArray.controls[i].get('desig')?.errors?.required" class="text-danger">Enter the Designation</p>
         </div>
             <div class="col-sm-2">
          <label class="form-label">Period From:</label>
          <input type="date" formControlName="pof" class="form-control">
          <p *ngIf="prevArray.controls[i].get('pof')?.touched && prevArray.controls[i].get('pof')?.errors?.required" class="text-danger">Enter the Period From</p>
            </div>
           <div class="col-sm-2">
          <label class="form-label">Period To:</label>
          <input type="date" formControlName="pot" class="form-control">
          <p *ngIf="prevArray.controls[i].get('pot')?.touched && prevArray.controls[i].get('pot')?.errors?.required" class="text-danger">Enter the Period To</p>
           </div>
           <div class="col-sm-2">
            <label class="form-label">Salary Last Drawn:</label>
        <input type="text" formControlName="sld" 
         class="form-control" placeholder="Salary Last Drawn">
        <p *ngIf="prevArray.controls[i].get('sld')?.touched && prevArray.controls[i].get('sld')?.errors?.['required']" class="text-danger">Enter the Salary Last Drawn</p>
        <p *ngIf="prevArray.controls[i].get('sld')?.touched && prevArray.controls[i].get('sld')?.errors?.['pattern']" class="text-danger">Only digits are valid</p>
         </div>

         <div >
         <button (click)="delRow(i)" style="margin-left:6px;margin-top:24px;" class="btn btn-danger btn-lg">Remove</button>
        </div>
        </div>
    </div>
    </li>
 </ol>
  <button type="submit" style="margin-top: 20px; text-align:center;"  class = "btn btn-primary btn-lg" [disabled]="fg.invalid" >Save</button>
</form> 

</div>

