<div class="bd">
    <div class="container">
        <button   id="logout" routerLink="/first">
            <span class="glyphicon glyphicon-home"></span> 
          </button>
          <div class="form-container">
                <h1 class="text-center " style="color:black;">ARS Login</h1>
                <form [formGroup]="exform" (ngSubmit)="submit()">
             
                        <label class="col-form-label" style="color: black;">User name</label>
                        <input formControlName="User_Name" type="text" class="form-control">
<!--                        <small *ngIf="name.invalid && name.touched" class="text-danger">User name is required</small>-->
                  
                        <label class="col-form-label" style="color: black;">Password:</label>
                        <input formControlName="Password" type="password" class="form-control">
                   
                    
                        <button type="submit"  id="button" (click)="setLocal()">Sign In</button>
                    
                </form>
            </div>
        </div>
  
