.btn{
    border-radius: 5px;
    margin-left:50%;
    font-size: large;
}
h3{
    margin-top:20px;
    font-weight:bold;
}
input{
    border-radius:5px;
    box-sizing: content-box;
    font-size: large;
}
input:hover{
    border:2px solid grey;
    box-sizing: content-box;
    font-size: large;
}
select{
    border-radius:5px;
    box-sizing: content-box;
    font-size: large;
    height: 34px;
}
select:hover{
    border:2px solid grey;
    box-sizing: content-box;
    font-size: large;
}

.row{
    white-space: nowrap;
}