.btn{
    border-radius: 0px;
    margin-left:50%;
    width:max-content
}
h3{
    margin-top:20px;
    font-weight:bold;
}
input{
    border-radius:0px;
    border-color: black;
}
input:hover{
    border:2px solid grey;

}
select{
    border-radius:0px;
    border-color: black;
    height: 34px;
}
select:hover{
    border:2px solid grey;

}

.row{
    white-space: nowrap;
}