<div class="mx-5">
    <h3><u>Bank Details</u></h3>
    <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
    <div class = "col-sm-3">
        <div class="form-group" >
            <label for="account">Account Number</label>
            <input
                    formControlName="account"
                    id="account"
                    type="number"
                    class="form-control"
                    placeholder="Account Number">
            <div *ngIf="account.account.touched && account.account.invalid" class="alert alert-danger">
                <div *ngIf="account.account.errors.required">Account Number is required</div>
            </div>
        </div>
    </div>
        <div class = "col-sm-3">
        <div class="form-group">
            <label for="ifsc">IFSC Code</label>
            <input
                    formControlName="ifsc"
                    id="ifsc"
                    type="number"
                    class="form-control"
                    placeholder="IFSC Number">
            <div *ngIf="ifsc.ifsc.touched && ifsc.ifsc.invalid" class="alert alert-danger">
                <div *ngIf="ifsc.ifsc.errors.required">IFSC Code is required</div>
            </div>
        </div>
    </div>
        <div class = "col-sm-3">
        <div class="form-group">
            <label for="bankName">Bank Name</label>
            <select formControlName="bankName" class="form-control">
                <option>Choose</option>
                <option *ngFor="let bm of Bank">{{bm}}</option>
            </select>
            <div *ngIf="bankName.bankName.touched && bankName.bankName.invalid" class="alert alert-danger">
                <div *ngIf="bankName.bankName.errors.required"> Bank Name is required</div>
            </div>
        </div>
        </div>
        <button class="btn btn-primary btn-sm" style ="margin-top: 20px; text-align:center;" type="submit" [disabled]="!form.valid">Save</button>
        </div>
    </form>
</div>
