<div class="container pt-5">
    <div class="row justify-content-md-center pt-5">
        <div class="table col-sm-20 shadow round pb-4">
            <div class="mx-5">
    <h3>Bank Details</h3>
    <form [formGroup]="form">
    <div class="row">
    <div class = "col-sm-10">
        <div class="form-group" >
            <label for="account">Account Number:<span class = "star-color">*</span></label>
            <input
                    formControlName="account"
                    id="account"
                    type="text"
                    class="form-control"
                    placeholder="Account Number">
        </div>
    </div>
    <div class = "col-sm-10">
        <div class="form-group">
            <label for="bankName">Bank Name:<span class = "star-color">*</span></label>
            <select formControlName="bankName" class="form-control" (click)="sendData()">
                <option>Choose</option>
                <option *ngFor="let bm of Bank">{{bm}}</option>
            </select>
        </div>
        </div>
        <div class = "col-sm-10">
        <div class="form-group">
            <label for="ifsc">IFSC Code:<span class = "star-color">*</span></label>
            <input  (click) = "emitData()"
                    formControlName="ifsc"
                    id="ifsc"
                    type="text"
                    class="form-control"
                    placeholder="IFSC Number">
        </div>
    </div>
        <button class="btn btn-primary btn-lg" (click)= "sendData()" (click)= "submit()" style ="margin-top: 20px; text-align:center;" [disabled]="form.invalid" type="submit">Save</button>
        </div>
        <span style = 'float:right;font-size: 20px;color: green;' class="animate" @slowAnimate *ngIf="state" >&nbsp; Details are saved</span>

    </form>
</div></div></div></div>
