.btn{
    border-radius: 0px;
    margin-left:50%;
    width:90px;

}
h3{
    margin-top:20px;
    font-weight:bold;
}
.row{
    white-space: nowrap;
}
.star-color{
    color: red;
}
.form-control{
    font-size: 16px;
}
.alert{
    color: red;
}
.form-header{
    background-color: white;
    color:black;
    font-size: 16px;
}

