<div class="mx-5">

    <h3>Bank Details</h3>
    <form [formGroup]="form">
    <div class="row">
    <div class = "col-sm-3">
        <div class="form-group" >
            <label for="account">Account Number:<span class = "star-color">*</span></label>
            <input
                    formControlName="account"
                    id="account"
                    type="number"
                    class="form-control"
                    placeholder="Account Number">
        </div>
    </div>
    <div class = "col-sm-3">
        <div class="form-group">
            <label for="bankName">Bank Name:<span class = "star-color">*</span></label>
            <select formControlName="bankName" class="form-control" (click)="sendData()">
                <option>Choose</option>
                <option *ngFor="let bm of Bank">{{bm}}</option>
            </select>
        </div>
        </div>
        <div class = "col-sm-3">
        <div class="form-group">
            <label for="ifsc">IFSC Code:<span class = "star-color">*</span></label>
            <input
                    formControlName="ifsc"
                    id="ifsc"
                    type="number"
                    class="form-control"
                    placeholder="IFSC Number">
        </div>
    </div>
        <button class="btn btn-primary btn-sm" (click)= "sendData()" (click)= "submit()" style ="margin-top: 20px; text-align:center;" [disabled]="form.invalid" type="submit">Save</button>
        </div>
    </form>
</div>
