<form formGroupName="Form" >
<div *ngIf= "ishr == 'undefined' " class = "mx-5" >
<h1>Employee related</h1>
<h3>Upload the files in any one of the following formats:</h3>
<h4><ol>Png Jpeg Jpg Word
</ol></h4>
<table [width]="1000">
    <tr>
      <td>Resume(not more than 3mb)</td>
      <td >
        <div class="text-center"> 
    	<input class="form-control" formcontrolname="resume" id = "resume" type="file" accept=".pdf,.jpeg,.word,.jpg"    (change)="onResumeChange($event)">
      <div *ngIf="resume.resume.touched && resume.resume.invalid" class="alert alert-danger">
        <div *ngIf="resume.fname.errors.required">First Name is required</div>
    </div>
	</div> 
	<td >
		<a *ngIf= "resume_file != null" [href]= 'urlforResume' target = "_blank" class="btn btn-secondary" > preview </a>
	</td>

    </tr>
    <tr>
      <td>Marksheet</td>
      <td><div class="text-center"> 
        <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onMarksheetChange($event)"> 
	</div> 

	<td>
		<a *ngIf="marksheet_file != null" [href]= 'urlforMark' target = "_blank" class="btn btn-secondary "> preview </a>
        </td>
    </tr> 
	<tr>
        <td>Transfer Certificate</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file" accept=".pdf,.jpeg,.word,.jpg"   (change)="onTransfercertificateChange($event)"> 
		</div> 

		<td>
			<a *ngIf="transfercertificate_file != null" [href]= 'urlforTc' target = "_blank" class="btn btn-secondary "> preview </a>
		</td>
      </tr>
      <tr>
        <td>Aadhar Card</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onAadharcardChange($event)"> 
		</div> 

		<td>
			<a *ngIf="aadharcard_file != null" [href]= 'urlforaadhar' target = "_blank" class="btn btn-secondary "> preview </a>
          </td>
      </tr>
      <tr>
        <td>Bank Passbook</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file" accept=".pdf,.jpeg,.word,.jpg"   (change)="onBankpassbookChange($event)"> 
		</div> 

		<td> 
			<a *ngIf="bankpassbook_file != null" [href]= 'urlforbankpass' target = "_blank" class="btn btn-secondary "> preview </a>
        </td>
      </tr>
      <tr>
        <td>Photo</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file" accept=".pdf,.jpeg,.word,.jpg"   (change)="onPhotoChange($event)"> 
		</div> 

		<td>
			<a *ngIf="photo_file != null" [href]= 'urlforphoto' target = "_blank" class="btn btn-secondary "> preview </a>
    	</td>
      </tr>
      <tr>
        <td>Signature</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onSignatureChange($event)"> 
		</div> 

		<td>
			<a *ngIf="signature_file != null" [href]= 'urlforSign' target = "_blank" class="btn btn-secondary "> preview </a>
        </td>
      </tr> <tr>
       
  </table>
<br><br>
</div>


<div *ngIf= "ishr == 'true' " class="mx-5" >
<h1>Employee related</h1>
<table [width]="1000">
    <tr>
      <td>Resume</td>
      <td >
        <div class="text-center"> 
    	<input class="form-control" type="file" accept=".pdf,.jpeg,.word,.jpg"  (change)="onResumeChange($event)">

	</div> 
	<td >
		<!-- <button *ngIf="resume_file != null" class="btn btn-secondary" > preview </button> -->
		<a [href]= 'urlforResume' target = "_blank" class="btn btn-secondary" > preview </a>
	</td>

    </tr>
    <tr>
      <td>Marksheet</td>
      <td><div class="text-center"> 
        <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onMarksheetChange($event)"> 
	</div> 

	<td>
		<a [href]= 'urlforMark' target = "_blank" class="btn btn-secondary "> preview </a>
        </td>
    </tr> 
	<tr>
        <td>Transfer Certificate</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onTransfercertificateChange($event)"> 
		</div> 

		<td>
			<a [href]= 'urlforTc' target = "_blank" class="btn btn-secondary "> preview </a>
		</td>
      </tr>
      <tr>
        <td>Aadhar card</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onAadharcardChange($event)"> 
		</div> 

		<td>
			<a [href]= 'urlforaadhar' target = "_blank" class="btn btn-secondary "> preview </a>
          </td>
      </tr>
      <tr>
        <td>Bank Passbook</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onBankpassbookChange($event)"> 
		</div> 

		<td> 
			<a [href]= 'urlforbankpass' target = "_blank" class="btn btn-secondary "> preview </a>
        </td>
      </tr>
      <tr>
        <td>Photo</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onPhotoChange($event)"> 
		</div> 

		<td>
			<a [href]= 'urlforphoto' target = "_blank" class="btn btn-secondary "> preview </a>
    	</td>
      </tr>
      <tr>
        <td>Signature</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file" accept=".pdf,.jpeg,.word,.jpg"   (change)="onSignatureChange($event)"> 
		</div> 

		<td>
			<a [href]= 'urlforSign' target = "_blank" class="btn btn-secondary "> preview </a>
        </td>
      </tr> <tr>
       
  </table>
<br><br>

<h1>RML related</h1>
<table [width]="1000">
    <tr>
      <td>appointment order</td>
      <td>
        <div class="text-center"> 
    	<input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"   (change)="onAppointmentorderChange($event)"> 
	</div> 

	<td> 
		<button *ngIf="appointmentorder_file != null"class="btn-secondary " > preview </button>
	 </td>
    </tr>
    <tr>
      <td>declaration form</td>
      <td><div class="text-center"> 
        <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onDeclarationChange($event)"> 
	</div> 

	<td> 
		<button *ngIf="declaration_file != null"class="btn-secondary" > preview </button>
     </td>
    </tr> <tr>
        <td>medical fitness</td>
        <td><div class="text-center"> 

          <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onMedicalfitnessChange($event)"> 
		</div> 

		<td> 
		  <button *ngIf="medicalfitness_file != null" class="btn-secondary "> preview </button>
		 </td>
      <tr>
        <td>form A4</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file" accept=".pdf,.jpeg,.word,.jpg"   (change)="onForma4Change($event)"> 
		</div> 

		<td>  
		  <button *ngIf="formA4_file != null" class="btn-secondary "> preview </button>
          </td>
      </tr>
      <tr>
        <td>form 11</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file" accept=".pdf,.jpeg,.word,.jpg"   (change)="onForm11Change($event)"> 
		</div> 

		<td>  
		  <button *ngIf="form11_file != null"class="btn-secondary" > preview </button>
        </td>
      </tr>
      <tr>
        <td>form h2</td>
        <td ><div class="text-center"> 
          <input class="form-control" type="file" accept=".pdf,.jpeg,.word,.jpg"   (change)="onFormh2Change($event)"> 
		</div> 

		<td>  
		  <button *ngIf="formh2_file != null" class="btn-secondary "> preview </button>
        </td>
      </tr>
      <tr>
        <td>NATX</td>
        <td><div class="text-center"> 
          <input class="form-control" type="file"  accept=".pdf,.jpeg,.word,.jpg"  (change)="onNatxChange($event)"> 
		</div> 

		<td>  
		  <button *ngIf="natx_file != null" class="btn-secondary " > preview </button>
          </td>
      </tr> <tr>
       
  </table>
</div>
</form>
