<div class="container pt-2">
    <div class="row justify-content-md-left pt-5">
        <div class="table col-sm-20 shadow round pb-4">
            <div class="mx-5">
<br><div class = "title"> Shift Change Details</div>
<form [formGroup] = "form1">
<div class="container pt-2">
        <div class="row justify-content-md-left pt-5">
            <div class="table col-sm-20 shadow round pb-4">
                <div class="mx-5">
                    <h3>Start/End Date</h3>
      
            <div class="row">
                <div class="col">
                    <label>Start Date: </label><br>
                    <input class="form-control"  type = "date" formControlName = "start_date">
                </div>
                <div class="col">
                    <label>End Date: </label><br>
                    <input class="form-control"  type = "date" formControlName = "end_date">
                </div>
            </div><br>
                </div></div></div></div>
                <div class="container pt-2">
                    <div class="row justify-content-md-left pt-5">
                        <div class="table col-sm-20 shadow round pb-4">
                            <div class="mx-5">
                                <h3>Current/Preferred Shift</h3>

            <div class="row">
                    <div class="col">                            
                        <label>Current Shift: </label><br>
                        <select class="form-control" formControlName = "current_shift" ><option value="">choose an option</option><option  *ngFor= "let i of current_shift" [ngValue]="i">{{i}}</option></select>
                    </div>
                    <div class="col">                            
                    <label>Preferred Shift: </label><br>
                    <select class="form-control" formControlName = "preferred_shift" ><option value="">choose an option</option><option  *ngFor= "let i of preferred_shift" [ngValue]="i">{{i}}</option></select>
                </div>
            </div><br>
           
     </div></div></div></div>
        <div class="container pt-2">
            <div class="row justify-content-md-left pt-5">
                <div class="table col-sm-20 shadow round pb-4">
                    <div class="mx-5">
                        <h3>Reliever</h3>
       
            <div class="row">
                <div class="col">
                    <label  for = "vacc" > Reliever Availability: </label>&nbsp;
                    <select  formControlName= "reliever_availability" >
                        <option value = 'yes' > YES</option>
                        <option value = 'no' >NO</option>
                    </select>                </div>
                <div class="col">                            
                    <label>Reliever Name: </label><br>
                    <select class="form-control" formControlName = "reliever_name" ><option value="">choose an option</option><option  *ngFor= "let i of reliever_name" [ngValue]="i">{{i}}</option></select>
                </div>
            </div><br>

   
                    </div></div></div></div>
<br>
    <button type="submit" class="btn btn-success btn-md"  [disabled]=flag (click)="submit()">Save</button>
   
</form>
            </div></div></div></div> 