<div class="div-c" style="color: #2A2550">
    <h1>Shift Change</h1>
</div>
<mat-divider style="padding-bottom: 10px"></mat-divider>
<mat-stepper #stepper>
    <mat-step label="Start/End Date">
        <br><br>
        <div style="padding-left: 20px; margin-bottom: 20px">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2>Start date:</h2>
                    <mat-form-field appearance="outline" style="padding-right: 20px">
                        <mat-label>Start date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h2>End date:</h2>
                    <mat-form-field appearance="outline" style="padding-right: 20px">
                        <mat-label>End date</mat-label>
                        <input matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button color="warn" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Current/Preferred Shift">
        <br><br>
        <div style="padding-left: 20px; margin-bottom: 20px">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2>Current Shift:</h2>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h2>Preferred Shift:</h2>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <br><br>
            <button mat-raised-button color="warn" matStepperPrevious>Back</button>
            <button mat-raised-button color="warn" matStepperNext style="margin-left: 5px">Next</button>
        </div>
    </mat-step>
    <mat-step label="Reliever">
        <br><br>
        <div style="padding-left: 20px; margin-bottom: 20px">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2>Reliever availability:</h2>
                    <br>
                    <mat-radio-group aria-label="Select an option" color="primary">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h2>Reliever Name:</h2>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <br><br>
            </div>
            <button mat-raised-button color="warn" type="submit">Submit</button>
        </div>
    </mat-step>
</mat-stepper>
