
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add new Modules</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="reset()" (click)="modal.dismiss('Cross click')">X</button>
        </div>
        <div class="modal-content container">
            <br>
            <form [formGroup] = "form">
                <div class="row">
                    <div class="col">
                        <label>Module Name: </label><br>
                        <input class="form-control"  type = "text" formControlName = "module_name">
                    </div>
                    <div class="col">
                        <label>Total Marks: </label><br>
                        <input class="form-control"  type = "number" formControlName = "total_marks">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <label>Pass Mark: </label><br>
                        <input class="form-control"  type = "number" formControlName = "pass_criteria">
                    </div>
                    <div class="col">
                        <label>Pass percent: </label><br>
                        <input class="form-control"  type = "number" formControlName = "pass_percent">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <label>category: </label><br>
                        <select class="form-control" formControlName = "category">
                            <option value="ONLINE">ONLINE</option>
                            <option value="OFFLINE">OFFLINE</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Priority value: </label><br>
                        <input class="form-control"  type = "number" formControlName = "priorityval">
                    </div>
                </div><br>

            </form>
        </div>
        <div class="modal-footer">
            <button *ngIf="editing_flag==false"  type="button" class="btn btn-light" (click)="save()" (click)="modal.close('Close click')" >Save</button>
            <button *ngIf="editing_flag==true" type="button" class="btn btn-light" (click)="editSave()" (click)="modal.close('Close click')" >Save</button>
            <button type="button" class="btn btn-light" (click)="reset()" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
<br>
<div class="button">
    <button mat-fab color="primary" (click)="open(content)"  style="float: right" aria-label="Example icon button with a delete icon">
        <mat-icon>person_add</mat-icon>
    </button></div>
    <div class = "button1">
    <button mat-fab style="float: right" aria-label="Example icon button with a delete icon" (click)="exportexcel()">
        <mat-icon>download</mat-icon>
    </button></div>
<br><br><br>
<div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                 S.no
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Module name
              </th>
              <th
                      class="text-center"
                      style="width: 800px"
                      style="background-color: darkblue"
              >
                  Total marks
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Pass Criteria 
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Pass Percent
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Category
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Priority value
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
                      >
                  Action
              </th>
            </tr>
            </thead>
            <tbody >
                <tr *ngFor = "let i of dummy; let a = index">
                    <td>{{a+1}}</td>
                    <td>{{i.module_name}}</td>
                    <td>{{i.total_marks}}</td>
                    <td>{{i.pass_criteria}}</td>
                    <td>{{i.pass_percent}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.priorityval}}</td>
                    <td>
                        <button mat-mini-fab color = 'accent' (click)= "edit(a, i.slno)" (click)="opentoedit(content)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" type="button" (click)="delete(a, i.slno)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
</div>


