
<div class="bd">
<div class="container">
<button   id="logout" routerLink="/first">
    <span class="glyphicon glyphicon-home"></span> 
  </button>
  <div class="form-container"> 
    <div class="container">
          <b>  <h1 >Trainee New Application</h1></b>
              <form [formGroup]="bankForms" >
           
                <label id="labelid" for="company">Company Name</label>  
                <select formControlName="company" class="input7" (change) = "getplantcode($event)" >
                    <option value="">Choose</option>
                    <option *ngFor="let c of companycode; let a = index">{{a+1}}. {{c.company_name}} </option>
                </select>
                  <div *ngIf="company.company.touched && company.company.invalid" class="alert ">  
                    <div *ngIf="company.company.errors.required"> Company Name is required</div>   
                </div>   
                <br>
         <br>
              <label id="labelid" for="plant">Plant Name</label>  
              <select [(ngModel)]="plantname"  formControlName="plant" class="input7">
                  <option value="">Choose</option>
                <option  *ngFor="let pl of plantcode">{{pl.plant_name}}</option>
                </select>
                <div *ngIf="plant.plant.touched && plant.plant.invalid" class="alert">  
                  <div *ngIf="plant.plant.errors.required"> Plant Code is required</div>   
              </div>   
              <br>
        
          <br>
            <label id="labelid" for="mobileNumber">Mobile Number</label>  
            <input   
                formControlName="mobileNumber"  
                id="mobileNumber"   
                name = "mobilenumber"
                type="text"   
                class="input7"
                maxlength="10" 
                pattern="\d{10}"
                [(ngModel)]="mobilenum"
                (ngModelChange)="getPassword($event)"
                (click)="show()"
           >  
            <div *ngIf="f.mobileNumber.touched && f.mobileNumber.invalid" class="alert">  
                <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required.</div>  
                <div *ngIf="f.mobileNumber.errors.pattern">Please, Enter 10 digit Mobile Number.</div>  
            </div>  
       <br>
       <br>
          <label id="labelid">Password</label>
          <input formControlName="pass" [type]="inputType" class="input7" [value]="Tvalue" readonly>
       <br>
        <div id="labelid" style="margin-left:25px;">
          <input 
          
          (change)="updateInput($event)"
          type="checkbox" 
          class="form-check-input">Show Password
        </div>
          
                <button (click)="sendFormData()"  (click)="setCookie()" type="submit" [disabled]="!bankForms.valid">Submit</button>
   </form>
          </div>
      </div>

</div></div>