<div class="container">
    <div  style = "margin-top: 40px;"> 
        <div  style = "margin-left: 10px;">
<h1><b>Onboard Details</b></h1>
<div class="form-container1">
<div class="row">
    <div class="col-sm-4">  <b><p>Status : </p></b>
        <form [formGroup]="form">
        <mat-select class="input2" (selectionChange)="filter()" formControlName="select">
            <mat-option value="APPOINTED" selected>APPOINTED</mat-option>
            <mat-option value="TRAINING COMPLETED">TRAINING COMPLETED</mat-option>
        </mat-select>
        </form>
    </div>
    <div class = "col-sm-3.5"><b><p>From Date : </p></b>
        <input type="date" class="input2" [(ngModel)]="from" (change)="call($event)">
      </div>
      <div class = "col-sm-3 "><b><p>To Date : </p></b>
    <input type="date" class="input2" [(ngModel)]="to" (change)="call2($event)">
      </div>
</div>

<br>
<div class="row">
    <div class = "col-sm-4">
        <label for="text"><b>Name:</b></label><br>
        <input placeholder="Enter Name"[(ngModel)]="searchText" class="input2" type="text">
    </div>     
      </div>    </div>
<br></div></div></div>


<div class="px-5">
    <button mat-fab style="float: right " aria-label="Example icon button with a delete icon" (click)="exportexcel()">
    <mat-icon>download</mat-icon></button>
</div>


    <div  style = "margin-top: 40px;">   
      <br><br>
      <app-loader *ngIf="loader.isLoding | async;else show"></app-loader>
      <ng-template #show>
        <div class="onboard-container">
        <div class = "table-wrapper">
        <table class="table table-bordered table-striped table-hover">
          <table id="table">
              <thead>
              <tr>
                  <th
                          class="text-center" style="width:2200px"
                        
                  >
                     Date
                  </th>
                  <th
                          class="text-center"
                    
                  >
                      Full Name
                  </th>
                  <th
                          class="text-center"
                       
                  >
                      Father Name
                  </th>
                  <th
                          class="text-center"   style="width: 2200px"
                   
                  >
                      DOB
                  </th>
                  <th
                          class="text-center"
                
                  >
                      Mobile Number
                  </th>
                  <th
                  class="text-center"
            
                >
                     ID NO
                 </th>
                  <th
                          class="text-center"
                     
                  >
                      Aadhar number
                  </th>
                  <th
                          class="text-center"
                     
                  >
                      Application status
                  </th>
    
                  <th
                          class="text-center"
                       
                          >
                      Approval
                  </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="this.form.get('select').value == 'APPOINTED' ">
                    <tr *ngFor="let i of filterinfo | dateRangeFilter:from:to:'doj' | filter: searchText ">
                        <td *ngIf="i.apln_status == 'APPOINTED' " >{{ i.doj.split('T')[0] | date: 'dd-MM-yyyy'}}</td>
                        <td *ngIf="i.apln_status == 'APPROVED' ">{{ i.created_dt.split('T')[0] | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ i.fullname }}</td>
                        <td>{{ i.fathername }}</td>
                        <td>{{ i.birthdate | date: 'dd-MM-yyyy'}}</td>
                        <td>{{ i.mobile_no1 }}</td>
                        <td>{{i.trainee_idno}}</td>
                        <td>{{ i.aadhar_no }}</td>
                        <td>{{ i.apln_status }}</td>
                        <td>
                            <div>
                            <button mat-mini-fab color = "success" [routerLink]="['/rml/new_joiners/onboard_form', i.apln_slno, i.apln_status]" >
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </div>
                        </td>
                      </tr>
                    </tbody>
                  <tbody *ngIf="this.form.get('select').value == 'TRAINING COMPLETED' ">
                    <tr *ngFor="let i of filterinfo | dateRangeFilter:from:to:'created_dt' | filter: searchText ">
                        <td *ngIf="i.apln_status == 'APPOINTED' " >{{ i.doj.split('T')[0] | date: 'dd-MM-yyyy'}}</td>
                        <td *ngIf="i.apln_status == 'APPROVED' ">{{ i.created_dt.split('T')[0] | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ i.fullname }}</td>
                        <td>{{ i.fathername }}</td>
                        <td>{{ i.birthdate| date: 'dd-MM-yyyy' }}</td>
                        <td>{{ i.mobile_no1 }}</td>
                        <td>{{i.trainee_idno}}</td>
                        <td>{{ i.aadhar_no }}</td>
                        <td>{{ i.apln_status }}</td>
                        <td>
                            <div>
                            <button mat-mini-fab color = "success" [routerLink]="['/rml/new_joiners/onboard_form', i.apln_slno, i.apln_status]" >
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </table></div>
        </div></ng-template>
    </div>

    <!-- <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="getPremiumData();">
    </ngb-pagination>
  
    <select class="form-control" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getPremiumData();">
      <option [ngValue]="100">100 items per page</option>
      <option [ngValue]="50" selected>50 items per page</option>
      <option [ngValue]="25">25 items per page</option>
    </select> -->
    <br><br>

