<mat-toolbar style="color: white;">
    <span>Trainee Test Page</span>&nbsp;
    <span><img style="width: 70px;" src="../../assets/rane.png"></span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">home</mat-icon></mat-toolbar>
<div class="pt-2">
<div class="container-fluid pt-5 px-5">
<div class=" shadow-lg round">
<div class = "pt-5 px-5">
    <form [formGroup] = "form">
    <div class = "row">
        <div class="col-sm-3">
        <select (change)="getQuestions()"  formControlName="module" class="form-control">
            <option value="">Select your module</option>
            <option *ngFor= "let i of modules">{{i.module_name}}</option>
        </select>
        </div>
        <div class="col-sm-3">
            <select formControlName="test" class="form-control">
                <option value="">Select test type</option>
                <option *ngFor= "let i of test">{{i}}</option>
            </select>
        </div>
    </div>
    </form>
    <br><br>
    <div class="body">
        <body>
            <p style="white-space: pre;">{{qualified}}</p>
        <form [formGroup]="formtest" (ngSubmit)= "submit()">
            <table class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <td style="width: 10%;">S.No</td>
                        <td style="width: 90%;">Questions</td>
                    </tr>
                </thead>
                <tbody *ngFor = "let a of questions;let i = index; ">
                    <tr>
                        <td>{{i+1}}</td>
                        <td  style="white-space: pre;" >{{a.question}}<br><br>
                        <select class="form-control" (change) = 'load_answers($event, i, a.correct_answer)' formControlName = "answers">
                            <option value="">Choose your answer</option>
                            <option *ngFor = "let choice of choices">{{choice}}</option>
                        </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        <button class="btn btn-primary" type="submit">save</button>
        </form>
        </body>
    </div>
</div>
</div>
</div>
</div>