<ng-template #content1 let-modal>
    <div class="modal-content1 container">
        <br>
            <div class = "row">
                <div class="col">
                    Are you sure you want to approve the request?
                    <div class = "row">
                        <div class = "col">
                            <button class="btn btn-success btn-sm" (click)= "approve()" style ="margin-top: 20px; text-align:center;" type="submit"><span style="font-size: 14px;" (click)="modal.close('Close click')" >YES</span></button>
                        </div>
                        <div class = "col">
                        <div class="button">
                            <button class="btn btn-danger btn-sm" style ="margin-top: 20px; text-align:center;" type="submit"><span style="font-size: 14px;" (click)="modal.close('Close click')" >NO</span></button>
                        </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
    </div>

</ng-template>
    <ng-template #content2 let-modal>
        <div class="modal-content1 container">
            <br>
                <div class = "row">
                    <div class="col">
                        Are you sure you want to Reject the request?
                        <div class = "row">
                            <div class = "col">
                                <button class="btn btn-success btn-sm"  (click)= "reject()" style ="margin-top: 20px; text-align:center;" type="submit" (click)="modal.close('Close click')" ><span style="font-size: 14px;">YES</span></button>
                            </div>
                            <div class = "col">
                            <div class="button">
                                <button class="btn btn-danger btn-sm" style ="margin-top: 20px; text-align:center;" type="submit" (click)="modal.close('Close click')" ><span style="font-size: 14px;">NO</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                <br>
             <br>
        </div>
        <br>
    </div>
</ng-template>
<!-- <div class= "container">
    <div class="md-5">
    <br>
    
        <mat-label> <div class="fs-text"><b>Comp Off</b></div></mat-label>
        <mat-form-field>
          <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (yearSelected)="chosenYearHandler($event)"
                          (monthSelected)="chosenMonthHandler($event, dp)"
                          panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </div>
</div> -->
    
    
    <br><br><br>
    <h1 class="title" >Shift Change Status</h1>
    <hr style="border-block-color: orange" />
    <div class = "table-wrapper">
      <table class="table table-bordered table-striped table-hover">
        <table id="table">
            <thead>
            <tr>
              <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue">SNo
              </th>
              <th div class="text-center">ID</th>
              <th div class="text-center">Name</th>
              <th div class="text-center">Actual Shift</th>
              <th div class="text-center">CurrentShift</th>
              <th div class="text-center">Reliever Name</th>
              <th div class="text-center">Shift Start Date</th>
              <th div class="text-center">Shift End Date</th>
              <th div class="text-center">Status</th>
                
              </tr>
              </thead>
              <tbody >
                  <tr *ngFor = "let i of table_data; let a = index">
                      <td>{{a+1}}</td>
                      <td>{{i.empID}}</td>
                      <td>{{i.empName}}</td>
                      <td>{{i.actualShift}}</td>
                      <td>{{i.currentShift}}</td>
                      <td>{{i.relieverName}}</td>
                      <td>{{i.shiftChangeDate}}</td>
                      <td>{{i.shiftChangeEndDate}}</td>

                        <td>
                            <button mat-mini-fab color = 'accent' (click)="open(content1, a)">
                                <mat-icon>done</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn" type="button" (click)="open1(content2, a)" >
                                <mat-icon>clear</mat-icon>
                            </button>
                       
                      </td>
                  </tr>
              </tbody>
          </table>
      </table>
    </div>