
    <div class = "container">
<div  style = "margin-top: 40px;">
<label for="Status" id="center"> Status </label>
  <select name="Status"id="Status">
    <option value="pending">pending</option>
    <option value="submitted">submitted</option>
    <option value="waiting for approval">waiting for approval</option>
    <option value="approved">approved</option>
    <option value="Rejected">Rejected</option>
    <option value="appointed">appointed</option>
  </select> 

  <label for="fromdate" id="center"> From date:</label>
  <input type="date" id="fromdate" name="fromdate">
  
  <label for="todate" id="center"> To date:</label>
  <input type="date" id="todate" name="todate">

  <button class = "btn-primary">filter</button>
</div>

</div>
