<div class = "container">
<div  style = "margin-top: 40px;">

  <form [formGroup]="form" (ngSubmit)="filter()">
  <div class = "row">
  <div class = "col-sm-3 boxx">
  <label for="Status" id="center"> Status: </label>
    <br>
      <select name="Status" id="Status" formControlName = "status" class = "form-select h-30 w-100">
        <option value="pending">PENDING</option>
        <option value="submitted">SUBMITTED</option>
        <option value="approved">APPROVED</option>
        <option value="Rejected">REJECTED</option>
        <option value="appointed">APPOINTED</option>
      </select> 
  </div>
  <div class = "col-sm-3">
      <label for="fromdate" id="center"> From date:</label>
      <br>
      <input type="date" id="fromdate" name="fromdate" formControlName = "fromdate">
  </div>
  <div class = "col-sm-3">
      <label for="todate" id="center"> To date:</label>
      <br>
      <input type="date" id="todate" name="todate" formControlName = "todate">
  </div>
</div>
  <button class = "btn btn-primary btn-lg" (click)="filter()" >Search</button>
  <br><br>

<div class = "row search" >

  <label  for="Status" id="center"> Search: </label>&nbsp;
  <br>
    <select  id="Search" [(ngModel)] = "colname" >
      <option value="first_name" >Name</option>
      <option value="mobile_no1">mobile number</option>
      <option value="aadhar_no">aadhar number</option>
    </select>&nbsp;<br>
    <input name="searchfor" [(ngModel)] = "colvalue" ><button (click)="searchfilter()" >🔍</button>
  </div>
  <br><br>
    <div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                 Date
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Full name
              </th>
              <th
                      class="text-center"
                      style="width: 800px"
                      style="background-color: darkblue"
              >
                  Father Name
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Date of birth 
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  mobileNumber
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Aadhar number
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Application status
              </th>

              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
                      >
                  Actions
              </th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of filterinfo">
                    <td>{{ i.created_dt.split('T')[0] }}</td>
                    <td>{{ i.first_name }}</td>
                    <td>{{ i.fathername }}</td>
                    <td>{{ i.birthdate }}</td>
                    <td>{{ i.mobile_no1 }}</td>
                    <td>{{ i.aadhar_no }}</td>
                    <td>{{ i.apln_status }}</td>
                    <td>
                        <button mat-mini-fab color = 'primary' [routerLink]="['/rml/new_joiners/forms', i.mobile_no1, i.apln_status]" title="Edit the trainee" >
                            <mat-icon>edit</mat-icon>
                        </button>

                    </td>
                  </tr>
                </tbody>
            </table>
          </table>
        