
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add Employee</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="reset()" (click)="modal.dismiss('Cross click')">X</button>
        </div>
        <div class="modal-content container ">
            <br>
            <form [formGroup] = "form">
                <div class="row">
                    <div class="col">
                        <label>Gen ID: </label><br>
                        <input class="form-control"  type = "text" formControlName = "gen_id">
                    </div>
                    <div class="col">
                        <label>Employee Name: </label><br>
                        <input class="form-control"  type = "text" formControlName = "employee_name">
                    </div><br>
                </div><br>
                <div class="row">
                        <div class="col">
                            <label>Plant Code: </label><br>
                            <select><option ngModel="data.plant_code" *ngFor= "let i of employee">{{i}}</option></select>
                        </div>
                    <div class="col">
                        <label>Department: </label><br>
                        <select><option ngModel="data.department" *ngFor= "let i of employee">{{i}}</option></select>
                    </div>
                </div><br>
                
                <div class="row">
                        <div class="col">
                            <label>Line: </label><br>
                            <select><option ngModel="data.line_name" *ngFor= "let i of employee">{{i}}</option></select>
                        </div>
                        <div class="col">                            
                            <label>Designation: </label><br>
                            <select><option ngModel="data.designation" *ngFor= "let i of employee">{{i}}</option></select>
                        </div>
                    </div><br>
                <div class="row">
                    <div class="col">
                        <label>Mail ID: </label><br>
                        <input class="form-control"  type = "text" formControlName = "mail_id">
                    </div>
                    <div class="col">
                        <label>Mobile No: </label><br>
                            <input class="form-control"  type = "text" formControlName = "mobile_no">
                    </div>
                </div><br>

                                <div class="row">
                                    <div class="col">
                                        <label>User Name: </label><br>
                                        <input class="form-control"  type = "text" formControlName = "user_name">
                                    </div>
                                        <div class="col">
                                            <label>Password: </label><br>
                                            <input class="form-control"  type = "text" required formControlName = "password">
                                        </div>
                                </div><br>
                                
                <div style="align-self: center;">
                    <input type = "checkbox"> Hr user <br>
                    <input type = "checkbox"> Hr approver <br>
                    <input type = "checkbox"> Trainer <br>
                    <input type = "checkbox"> supervisor <br>
                    <input type = "checkbox"> reporting authority <br>
                    <input type = "checkbox"> time office user<br>

                </div>  </form>
       
        <div class="modal-footer">
            <button *ngIf="editing_flag==false"  type="button" class="btn btn-success" (click)="save()" (click)="modal.close('Close click')" >Save</button>
            <button *ngIf="editing_flag==true" type="button" class="btn btn-success" (click)="editSave()" (click)="modal.close('Close click')" >Save</button>
            <button type="button" class=" btn btn-danger" (click)="reset()" (click)="modal.close('Close click')">Close</button>
        </div></div>
    </ng-template>
  <br>
  <div>
    <h1 class="title" >Employee Master</h1>
    <hr style="border-block-color: orange" />
  </div>
  <div class="button">
    <button mat-fab color="primary" (click)="open(content)"  style="float: right" aria-label="Example icon button with a delete icon">
        <mat-icon>person_add</mat-icon>
    </button></div>
    <div class = "button1">
    <button mat-fab style="float: right" aria-label="Example icon button with a delete icon" (click)="exportexcel()">
        <mat-icon>download</mat-icon>
    </button></div>
  <br><br><br>
  <div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
            <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                 Gen ID
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                 Employee Name
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Department
              </th>

              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Mail ID
                  </th>
                  <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                  Mobile NO
              </th>
              <th
                      class="text-center"
                      style="width: 500px"
                      style="background-color: darkblue"
                      >
                  Action
              </th>
            </tr>
            </thead>
            <tbody >
                <tr *ngFor = "let i of employee; let a = index">
                   <td>{{i.gen_id}}</td>
                    <td>{{i.employee_name}}</td>
                    <td>{{i.department}}</td>
                    <td>{{i.mail_id}}</td>
                    <td>{{i.mobile_no}}</td>
                    
  
                    <td>
                        <button mat-mini-fab color = 'accent' (click)= "edit(a)" (click)="opentoedit(content)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" type="button" (click)="delete(a)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
  </div>
  
  
  