
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add Employee</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="reset()" (click)="modal.dismiss('Cross click')">X</button>
        </div>
        <div class="modal-content container ">
            <br>
            <form [formGroup] = "form">
                <div class="row">
                    <div class="col">
                        <label>Gen ID: </label><br>
                        <input class="form-control"  type = "text" formControlName = "gen_id">
                    </div>
                    <div class="col">
                        <label>Employee Name: </label><br>
                        <input class="form-control"  type = "text" formControlName = "Emp_Name">
                    </div><br>
                </div><br>
                <div class="row">
                        <div class="col">
                            <label>Plant Name: </label><br>
                    <select formControlName="plant_name" class = "form-control" (change)="getall($event)" ><option value="">select an option</option><option *ngFor= "let i of array" [ngValue]="i" >{{i}}</option></select>
                        </div>
                        <div class="col">                            
                            <label>Line: </label><br>
                            <select formControlName="Line_Name" class = "form-control" ><option value="">select an option</option><option *ngFor= "let i of line" [ngValue]="i">{{i}}</option></select>
                        </div>
                </div><br>
                
                <div class="row">
                    <div class="col">                            
                        <label>Department: </label><br>
                        <select formControlName="dept_name" class = "form-control" ><option value="">select an option</option><option *ngFor= "let i of dept" [ngValue]="i">{{i}}</option></select>
                    </div>
                        <div class="col">                            
                            <label>Designation: </label><br>
                            <select formControlName="desig_name" class = "form-control"><option value="">select an option</option><option *ngFor= "let i of desig" [ngValue]="i">{{i}}</option></select>

                        </div>
                    </div><br>
                <div class="row">
                    <div class="col">
                        <label>Mail ID: </label><br>
                        <input class="form-control"  type = "text" formControlName = "Mail_Id">
                    </div>
                    <div class="col">
                        <label>Mobile No: </label><br>
                            <input class="form-control"  type = "text" formControlName = "Mobile_No" maxlength="10" >
                    </div>
                </div><br>

                                <div class="row">
                                    <div class="col">
                                        <label>User Name: </label><br>
                                        <input class="form-control"  type = "text" formControlName = "User_Name">
                                    </div>
                                        <div class="col">
                                            <label>Password: </label><br>
                                            <input class="form-control"  type = "text" required formControlName = "Password">
                                        </div>
                                </div><br>
                                
                <div style="align-self: center;">
                    <input type = "checkbox" formControlName = "Is_HR"> Hr user <br>
                    <input type = "checkbox" formControlName = "Is_HRAppr">  Hr approver <br>
                    <input type = "checkbox" formControlName = "Is_Trainer"> Trainer <br>
                    <input type = "checkbox" formControlName = "Is_Supervisor"> supervisor <br>
                    <input type = "checkbox" formControlName = "Is_ReportingAuth"> reporting authority <br>
                    <input type = "checkbox" formControlName = "Is_TOU"> time office user<br>

                </div>  </form>
       
        <div class="modal-footer">
            <button *ngIf="editing_flag==false" [disabled]="form.invalid"  type="button" class="btn btn-success" (click)="save()" (click)="modal.close('Close click')" >Save</button>
            <button *ngIf="editing_flag==true"  [disabled]="form.invalid" type="button" class="btn btn-success" (click)="editSave()" (click)="modal.close('Close click')" >Save</button>
            <button type="button" class=" btn btn-danger" (click)="reset()" (click)="modal.close('Close click')">Close</button>
        </div></div>
    </ng-template>
    <div class="container">
  <br>
  <div>
    <h1 class="title" >Employee Master</h1>
    <hr style="border-block-color: orange" />
  </div>
  <div class="button">
    <button mat-fab color="primary" (click)="open(content)"  style="float: right" aria-label="Example icon button with a delete icon">
        <mat-icon>person_add</mat-icon>
    </button></div>
    <div class = "button1">
    <button mat-fab style="float: right" aria-label="Example icon button with a delete icon" (click)="exportexcel()">
        <mat-icon>download</mat-icon>
    </button></div>
  <br><br><br>
  <div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
            <th
                       div class="text-center"
              >
                 Gen ID
              <th
                       div class="text-center"
              >
                 Employee Name
              </th>
              <th
                       div class="text-center"
              >
                  plant Name
              </th>
              <th
                       div class="text-center"
              >
                  Department
              </th>

              <th
                       div class="text-center"
              >
                  Mail ID
                  </th>
                  <th
                       div class="text-center"
              >
                  Mobile NO
              </th>
              <th
                       div class="text-center"
                      >
                  Action
              </th>
            </tr>
            </thead>
            <tbody >
                <tr *ngFor = "let i of employee; let a = index">
                   <td>{{i.gen_id}}</td>
                    <td>{{i.Emp_Name}}</td>
                    <td>{{i.plant_name}}</td>
                    <td>{{i.dept_name}}</td>
                    <td>{{i.Mail_Id}}</td>
                    <td>{{i.Mobile_No}}</td>
                    
  
                    <td>
                        <button mat-mini-fab color = 'accent' (click)= "edit(a)" (click)="opentoedit(content)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" type="button" (click)="delete(a, i.empl_slno)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
  </div>
  
  
    </div>