<div class="bd">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <button id="logout" routerLink="/first" > 
    <span class="glyphicon glyphicon-home"></span> 
</button>
          <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="loader" *ngIf="loading"></div>
          </div>

          <div class="form-container">
          
            <h1 class=" text-center ">Trainee Login</h1>
          
              <form [formGroup]="form" (ngSubmit)="TraineeLogin()">
         
        <div class="form-group">  
            <label class="col-form-label" for="username">User Name: </label>  
            <input   
                formControlName="username"  
                type="text"   
                class="form-control">  

            <div class="alert alert-danger" *ngIf="f.username.touched && f.username.invalid && f.username.errors.required">User Name is required.</div>  
        </div>  

        <div class="form-group">
          <label class="col-form-label">Password:</label>
          <input formControlName="pass" [type]="inputType" class="form-control">

            <div class="alert alert-danger" *ngIf="f.pass.touched && f.pass.invalid && f.pass.errors.required">Password is required.</div>  
        </div> 

        <div class="form-group" style="margin-left:25px;">
          <input 
          (change)="updateInput($event)"
          type="checkbox" 
          class="form-check-input">Show Password
        </div>
            <button  type="submit">Sign In</button>
         </form>      
          
          </div>
      </div>
  