<div class="mx-5">
    <h3>Other Details</h3>  
    <form [formGroup]="forms" (ngSubmit)="submit()">
        <div class="form-group">  
            <label for="known">Do you have any relations or friends employed in any group of rane group of Companies or office</label>  
            <select formControlName="known" class="form-control">
                <option>Choose</option>
              <option *ngFor="let rel of Relations">{{rel}}</option>
              </select>
              <div *ngIf="known.known.touched && known.known.invalid" class="alert alert-danger">  
                <div *ngIf="known.known.errors.required"> field is required</div>   
            </div>   
    
        </div>  
        <div style = "width:fit-content" class="form-group">  
            <label for="work">Have you ever worked in any company/plant/office of Rane Group </label>  
            <select formControlName="work" class="form-control">
                <option>Choose</option>
              <option *ngFor="let wk of Works">{{wk}}</option>
              </select>
              <div *ngIf="work.work.touched && work.work.invalid" class="alert alert-danger">  
                <div *ngIf="work.work.errors.required"> work field is required</div>   
            </div>  
           
        </div>  
        <div style="width:fit-content" class="form-group">  
            <label for="names"> Name</label>  
            <input   
                formControlName="names"  
                id="names"   
                type="text"   
                class="form-control"
                placeholder="Name">  
            <div *ngIf="names.names.touched && names.names.invalid" class="alert alert-danger">  
                <div *ngIf="names.names.errors.required">Full Name is required</div>   
            </div>  
        </div>
        <div style="width:fit-content" class="form-group">  
            <label for="place">Place</label>  
            <input   
                formControlName="place"  
                id="place"   
                type="text"   
                class="form-control"
                placeholder="Place">  
            <div *ngIf="place.place.touched && place.place.invalid" class="alert alert-danger">  
                <div *ngIf="place.place.errors.required">Place is required</div>   
            </div>  
        </div>
        <div style="width:fit-content" class="form-group">  
            <label for="com">Company/Agency Name</label>  
            <input   
                formControlName="com"  
                id="com"   
                type="text"   
                class="form-control"
                placeholder="Company/Agency Name">  
            <div *ngIf="com.com.touched && com.com.invalid" class="alert alert-danger">  
                <div *ngIf="com.com.errors.required">Comapny/Agency name is required</div>   
            </div>  
        </div>
        <div stytle="width:fit-content" class="form-group">  
            <label for="extra">Extra Curricular Activities (Sports/Hobbies) </label>  
            <input   
                formControlName="extra"  
                id="extra"   
                type="text"   
                class="form-control"
                placeholder="Extra Curricular Activities (Sports/Hobbies)">  
            <div *ngIf="extra.extra.touched && extra.extra.invalid" class="alert alert-danger">  
                <div *ngIf="extra.extra.errors.required"> Extra Curricular Activities (Sports/Hobbies) is required</div>   
            </div>  
        </div>
           <button class="btn btn-primary btn-lg" style = "margin-top: 20px; text-align:center;"  type="submit" [disabled]="!forms.valid">Save</button>
    </form></div>
