<div class="mx-5">
    <h3>Other Details</h3>  
    <form [formGroup]="forms">
        <div  style = "width:fit-content" class="form-group">  
            <label for="known">Do you have any relations or friends employed in any group of rane group of Companies or office</label>  
            <select formControlName="known" class="form-control">
                <option>Choose</option>
              <option *ngFor="let rel of Relations">{{rel}}</option>
              </select> 
    
        </div>  
        <div style="width:fit-content" class="form-group">  
            <label for="names"> Name</label>  
            <input   
                formControlName="names"  
                id="names"   
                type="text"   
                class="form-control"
                placeholder="Name">  
 
        </div>
        <div style="width:fit-content" class="form-group">  
            <label for="com">Company/Agency Name of the Acquaintance</label>  
            <input   
                formControlName="com"  
                id="com"   
                type="text"   
                class="form-control"
                placeholder="Company/Agency Name">  

        </div>
        <div style = "width:fit-content" class="form-group">  
            <label for="work">Have you ever worked in any company/plant/office of Rane Group </label>  
            <select formControlName="work" class="form-control">
                <option>Choose</option>
              <option *ngFor="let wk of Works">{{wk}}</option>
              </select>
        </div>  

        <div style="width:fit-content" class="form-group">  
            <label for="place">Name of the company</label>  
            <input   
                formControlName="place"  
                id="place"   
                type="text"   
                class="form-control"
                placeholder="Place">  

        </div>

        <div stytle="width:fit-content" class="form-group">  
            <label for="extra">Extra Curricular Activities (Sports/Hobbies) </label>  
            <input   
                formControlName="extra"  
                id="extra"   
                type="text"   
                class="form-control"
                placeholder="Extra Curricular Activities (Sports/Hobbies)" (click)="sendData()">  
 
        </div>
           <button (click)="submit()" (click)="sendData()" class="btn btn-primary btn-sm" style = "margin-top: 20px; text-align:center;"  type="submit">Save</button>
    </form></div>
