<div style='overflow-x:auto'>
<div class="mx-5">
    <h3>Other Details</h3>  
    <form [formGroup]="forms">
        <div  style = "width:fit-content" class="other-form">  
            <label class="form-header"for="known">Do You Have Any Relations Or Friends Employed In Any Location Of Rane Group Of Companies Or Office</label>  
            <select (ngModelChange)="sendData()" formControlName="known" class="form-control">
                <option>Choose</option>
              <option *ngFor="let rel of Relations" [ngValue]="rel">{{rel}}</option>
              </select> 
    
        </div>  
        <div style="width:fit-content" class="other-form">  
            <label class="form-header"for="names"> Name</label>  
            <input   
            (ngModelChange)="sendData()"
                formControlName="names"  
                id="names"   
                type="text"   
                class="form-control"
                placeholder="Name">  
 
        </div>
        <div style="width:fit-content" class="other-form">  
            <label class="form-header"for="com">Company/Agency Name Of The Acquaintance</label>  
            <input   
            (ngModelChange)="sendData()"
                formControlName="com"  
                id="com"   
                type="text"   
                class="form-control"
                placeholder="Company/Agency Name">  

        </div>
        <div style = "width:fit-content" class="other-form">  
            <label class="form-header"for="work">Have You Ever Worked In Any Company/Plant/Office Of Rane Group </label>  
            <select (ngModelChange)="sendData()" formControlName="work" class="form-control">
                <option>Choose</option>
              <option *ngFor="let wk of Works" [ngValue]="wk">{{wk}}</option>
              </select>
        </div>  

        <div style="width:fit-content" class="other-form">  
            <label class="form-header" for="place">Name Of The Company</label>  
            <input   
                formControlName="place"  
                (ngModelChange)="sendData()"
                id="place"   
                type="text"   
                class="form-control"
                placeholder="Place">  

        </div>

        <div stytle="width:fit-content" class="other-form">  
            <label class="form-header"for="extra">Extra Curricular Activities (Sports/Hobbies) </label>  
            <input   
                formControlName="extra"  
                (ngModelChange)="sendData()"
                id="extra"   
                type="text"   
                class="form-control"
                placeholder="Extra Curricular Activities (Sports/Hobbies)">  
 
        </div>
           <button mat-raised-button (click)="submit()" (ngModelChange)="sendData()" class="other-btn btn-primary btn-sm" style = "margin-top: 20px; text-align:center;"  type="submit"><span style="font-size: 14px;">Save</span></button>
           <span style = 'float:right;font-size: 20px;color: green;' class="animate" @slowAnimate *ngIf="state" >&nbsp; Details are saved</span>

    </form></div>
</div>