<div class="mx-5">
<div class="row">
    <div class="col" style="margin-top: 10px; margin-left: 10px">
        <button (click)="getDates()" mat-mini-fab color="warn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" style="margin-right: 5px">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button (click)="getDates()" mat-mini-fab color="warn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
    <div class="cal">
        <p>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</p>
    </div>
</div>
</div>

<ng-template #IN_OUT_TIME let-day="day" let-locale="locale">
    <div class="container pt-1">
    <div  id="yes" class="cal-cell-top">
        <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
        <div class="font" >
        <b> IN TIME :</b> {{day.events[0]?.in_time}}<br>
        <b> OUT TIME :</b> {{day.events[0]?.out_time}}
        </div>
    </div>
  </ng-template>

  <ng-template  let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
  </ng-template>

<div [ngSwitch]="view">

    <mwl-calendar-month-view 
    (dayClicked)="dayClicked($event.day)" 
    *ngSwitchCase="CalendarView.Month" 
    [viewDate]="viewDate"  
    [events]="events"  
    (beforeViewRender)="beforeMonthViewRender($event)"  
    [cellTemplate]= "IN_OUT_TIME" >
    </mwl-calendar-month-view >

</div>
