<div class="bd" style = "background-position: fixed;">
  <div class="logo"><img src="assets/rane.png"></div>

<div class="container">
  <h1>DIGITAL HR MANAGEMENT</h1>  
  <div class="innercontainer">
<br>
  
      <div class="row1">
          <div class="card">
            
              <img class= "picture" mdbRipple rippleColor="light" routerLink="/trainee-application" src="assets/ta.png"  >
              <div class="text"> Trainee New Application</div>
          </div>
          <div class="card">
            
            <img class= "picture" mdbRipple rippleColor="light" routerLink="/trainee-login" src="assets/tt.png" >
            <div class="text">Trainee Test Login (DOJO)
          </div>
      </div>
      <div class="card">
        <img class= "picture" mdbRipple rippleColor="light" routerLink="/rml/login" src="assets/Trainer Login(Dojo).jpeg" >
        <div class="text ">Trainer Login(Dojo)
      </div></div>
         
         </div>
      <div class="row2">
        <div class="card">
          <img class= "picture" mdbRipple rippleColor="light" routerLink="/rml/login" src="assets/shr.png" >
              <div class="text ">RANE User Login
          </div></div>
          <div class="card"> 
           <img class= "picture"  mdbRipple rippleColor="light" routerLink="/rml/ars-login" src="assets/te.png" >
            <div class="text">ARS Login
            </div>
      </div>
  </div>
</div></div>
