<div class="container">
  <div class="logo"><img src="../../assets/rane.png"></div>
  <div class="innercontainer">
      <h1>DIGITAL HR MANAGEMENT</h1>
      <br>
      <div class="row1">
          <div class="card">
            
              <img class= "picture" routerLink="/trainee-application" src="../../assets/ta.png"  >
              <div class="text"> Trainee New Application</div>
          </div>
          <div class="card">
          <img class= "picture" (click)="login()" routerLink="/rml/login" src="../../assets/shr.png" >
              <div class="text ">RANE User Login
          </div></div>
          <div class="card">
            
            <img class= "picture" routerLink="/trainee-login" src="../../assets/tt.png" >
            <div class="text">Trainee Test Login (DOJO)
          </div>
      </div></div>
      <div class="row2">
          <div class="card">
            <img class= "picture" routerLink="/rml/login" src="../../assets/Trainer Login(Dojo).jpeg" >
            <div class="text ">Trainer Login(Dojo)
          </div></div>
          <div class="card"> 
           <img class= "picture" routerLink="/traineeevaluation" src="../../assets/te.png" >
            <div class="text">ARS Login
            </div>
      </div>
  </div>
