.btn{
  border-radius: 0px;
  margin-left:50%;
  width:90px 
}
h3{
  margin-top:20px;
  font-weight:bold;
}
input{
  border-radius:0px;
  border-color: black;
  width:max-content;
  justify-content: center;
  width:300px;
}
input:hover{
  border:2px solid grey;

}
select{
  border-radius:0px;
  border-color: black;
  height: 34px;
  width:300px;
  justify-content: center;
}
select:hover{
  border:2px solid grey;

}

.row{
  white-space: nowrap;
}
.star-color{
  color: red;
}
.form-control{
  font-size: 14px;
}
.title{
  text-align: Center;
  font-size: 25px;
  font-weight: 900;
}
.box{
  border-radius: 20px;
  height: 200px;
  width: 300px;
  padding: auto;
  text-align: center;
  align-items: center;
  align-content: center
  
}

.picture{
  border-radius: 10px;
  width: 300px;
  border-image-width: auto;
  float: right;
}
.text{
  margin: 10px;
  font-size: 22px;
}
.center {
  display: block;
  margin-right: 80%;
  margin-bottom: 5px;
  width: 150px;
  margin-top: 10px;
}
.home
{
    width:1920px;
    background-color: #fefefe;
    height:1080px;
}

@media screen and (min-width: 500px) {
   .home {
      width:420px;
   }
}

@media screen and (min-width: 800px) {
   .homex {
      width:720px;
   }
}
.container{
  display:inline-block;
  position:fixed;
 
  align-items: center;
  box-shadow: 5px;
  margin-right: 3%;
}
  