<div class = "container">
    <div  style = "margin-top: 40px;">   
        <h1><b>Evaluation Due Summary</b></h1>
      <br><br>
        <div class = "table-wrapper">
          <table class="table table-bordered table-striped table-hover">
            <table id="table">
                <thead>
                <tr>
                    <!-- <th div class="aligncommand">Date</th> -->
                    <th div class="aligncommand">Emp ID</th>
                    <th div class="aligncommand">Name</th>
                    <th div class="aligncommand">Line Name</th>
                    <th div class="aligncommand">Dept Name</th>
                    <th div class="aligncommand">Aging</th>
                    <th div class="aligncommand">First Evaluation</th>
                    <th div class="aligncommand">Second Evaluation</th>
                    <th div class="aligncommand">Third Evaluation</th>
                    <th div class="aligncommand">Fourth Evaluation</th>

                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of filterinfo">
                          <!-- <td>{{ i.doj.split('T')[0] | date: 'dd-MM-yyyy' }}</td> -->
                          <td>{{i.trainee_idno}}</td>
                          <td>{{ i.fullname }}</td>
                          <!-- <td>{{ i.mobile_no1 }}</td> -->
                          <td>{{ i.line_name }}</td>
                          <td>{{ i.dept_name }}</td>
                          <td>{{ i.diff }}</td>
                          <td>{{ i.record_count == 1?tick:ex }}</td>
                          <td>{{ i.record_count == 2?tick:ex }}</td>
                          <td>{{ i.record_count == 3?tick:ex }}</td>
                          <td>{{ i.record_count == 4?tick:ex }}</td>

                        </tr>
                      </tbody>
                  </table>
                </table>
          </div>
      </div>
  </div>