<div class = "pt-5 pl-5">
    <form [formGroup] = "form">
    <div class = "row">
        <div class="col-sm-3">
            Module<br>
        <select  formControlName="module" class="form-control">
            <option value="">Select your module1
            </option>  
            <option value="">Select your module1
            </option>           
                </select>
            </div>
            <div class="row">
                <div class="col-sm">
            <button class="btn btn-primary btn-md"  style ="margin-top: 20px; text-align:center;" ><span style="font-size: 14px;">Save</span></button>
            </div>
        

<div>
    <button class="btn btn-danger btn-md"  style ="margin-top: 20px; text-align:center;"  ><span style="font-size: 14px;">Clear</span></button>
</div></div></div>
    </form>
</div>
    <br><br>
   