<div class="container pt-5">
    <div [formGroup]="form" class="row">
        <div class="col-sm-3">
            <select (change)="submit()"  style="font-size:14px" formControlName="module" class="form-control">
                <option value="" disabled>Select your module</option>            
                <option  *ngFor= "let module of modules; let i = index">{{i+1}}.{{module.module_name}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button (click) = show() >save</button>&nbsp;
            <button>clear</button>
        </div>
    </div>
    <br><br>
    <div>
         <table style="width: 100%;" class="table-bordered table-responsive table1">
            <thead style="background-color: rgb(218, 218, 218);height: 30px;">
                <tr>
                    <td>S.NO</td>
                    <td>Question</td>
                    <td>Correct Answer</td>
                    <td>Image File</td>
                    <td>File</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let i of answer; let a = index">
                    <td style="background-color: rgb(218, 218, 218);">{{a+1}}</td>
                    <td><textarea [readonly] = 'flag' style="resize:none;outline: none;border-color: white;width: 600px;height: 200px;" (change)="question($event, i)" (click) = "addrow(i)" type = 'text' class="form-group"></textarea></td>
                    <td><textarea [readonly] = 'flag' name ="answer" style="overflow: hidden;resize:none;outline: none;border-color: white;height: 200px;width: 120px;" (change)="answers($event,i)" class="form-group"></textarea></td>
                    <td><div style="width: 300px;"><a [href] = 'filename[a]'  target = "_blank" style="border-color: white;white-space: pre-wrap">{{filename[a]}}</a></div></td>
                    <td><input [disabled] = 'flag' name ="file" type="file" style="overflow: hidden;resize:none;outline: none;border-color: white;height: 200px;" (change)="file($event,i)" class="form-group"></td>
                </tr>
            </tbody>
         </table>
    </div>
</div>