<form [formGroup]="form">
<div *ngFor= "let i of formvalues" class="container">
  <div class="card"> 
      <table class="font">
          <div class="center"><div class="mx-3"><br>
              <div class="header"><b> <p>Rane(Madras)Limited</p></b></div>
              <div class="font2 comp_addr" ><p><textarea formControlName="company_address"  readonly style="height:80px;width:350px;" > </textarea></p></div>
              <div class = "name"><p><b>TEMP IDENTITY CARD</b></p></div>
          </div></div>
          <img class = "img" [src]= this.url alt="Avatar" ><br><br><br>
          <div class="mx-5">
            <tr class="font">
            <div class="md">
                <tr >
                <td div class="aligncommand1"><b>Name</b></td><br>
                <td div class="aligncommand1">:{{i.fullname}}</td><br><br>
            <tr > 
                <td div class="aligncommand1"><b>Father's Name</b></td><br>
                <td div class="aligncommand1">:{{i.fathername}}</td><br><br>
            <tr > 
                <td div class="aligncommand1"><b>Temp ID</b></td><br>
                <td div class="aligncommand1">:{{i.trainee_idno}}</td><br><br>
            <tr>
                <td div class="aligncommand1"><b> Department</b></td><br>
                <td div class="aligncommand1">:Dojo Training</td><br><br>
            <tr>
                <td div class="aligncommand1"><b> Designation</b></td><br>
                <td div class="aligncommand1">:Trainee</td><br><br>
            </div><br>
          <div class="sign">
              <img class = "img2" [src]= this.plant alt="Avatar"></div><br>
              <div class="sign1"><b>Authorised Signature </b>
              </div>
          </div></table>
  </div>

  <div class="card">
      <div class="container2">
        <div class="col-sm-8">
         <table class="font">
              <div  style="font-size: 25px;" > <b>Address:</b></div><br>

              <textarea class = 'home_addr' type="text" formControlName="permanent" readonly style="width: 350px;height:150px;font-size: 15px;"></textarea>

              <tr><td></td></tr><br><br><br>
              <tr class="font">
                  <u><td div class="fs-text" ><b>Emergency contact</b></td></u>
                  <td></td><br><br><br><br>
              </tr>
             <div class="md">  <tr >
                  <td div class="aligncommand1"><b>Name</b></td>
                  <td div class="aligncommand1">:{{i.emergency_name}}</td><br><br>
              <tr > 
                  <td div class="aligncommand1"><b>Relation</b></td>
                  <td div class="aligncommand1">:{{i.emergency_rel}}</td><br><br>
              <tr > 
                  <td div class="aligncommand1"><b>Mobile No</b></td>
                  <td div class="aligncommand1">:{{i.mobile_no2}}</td><br><br>
              <tr></div><div class="md">
                  <td div class="aligncommand1"><b> Valid from</b></td>
                  <td div class="aligncommand1">:{{frommdate}}</td><br>
              <tr> 
                  <td div class="aligncommand1"><b> Valid to</b></td>
                  <td div class="aligncommand1">:{{toodate}}</td><br><br></div>
          </table>
  </div>

  </div></div>
</div>
</form>
