<form [formGroup]="form">
<div *ngFor= "let i of formvalues" class="container">
  <div class="card"> 
      <table class="font">
          <div class="center"><div class="mx-3"><br>
              <div class="header"><b> <p>Rane(Madras)Limited</p></b></div>
              <div class="font2" ><p><textarea formControlName="company_address" readonly style="height:80px;width:350px;"></textarea></p></div>
              <div class = "name"><p><b>TEMP IDENTITY CARD</b></p></div>
          </div></div>
          <img class = "img" [src]= this.url alt="Avatar" ><br><br><br>
          <div class="mx-5">
          <tr class="font">
              <td><p><b> Temp Id no:</b></p></td>
              <td >&emsp;{{i.trainee_idno}}</td>
          </tr><br>
          <tr>
              <td><b>Name:</b></td>
              <td>&emsp;{{i.fullname}}</td>
          </tr><br>
          <tr>
              <td><b>Father name:</b></td>
              <td>&emsp;{{i.fathername}}</td>              
          </tr><br>
          <tr>
              <td><b>Department:</b></td>
              <td  >&emsp;Training</td>
          </tr><br>
          <tr>
              <td><b>Designation:</b></td>
              <td>&emsp;DOJO Trainee</td>
          </tr><br></div>
          <div class="sign">
              <img src="../assets/rane.png" alt="Avatar"></div>
              <div class="sign1"><b>authorised signature </b>
          
          </div></table>
  </div>

  <div class="card">
      <div class="container2">
        <div class="col-sm-8">
         <table class="font">
            <div class="center">
              <div class="header" > <b>Address:</b></div><br>
              <div class="font2"><textarea type="text" formControlName="permanent" readonly style="width: 350px;height:130px;"></textarea></div>
              </div>
              <tr><td></td></tr><br><br><br>
              <tr class="font">
                  <u><td><b>Emergency contact</b></td></u>
                  <td></td><br><br><br><br>
              </tr>
              <tr > <div class="md">
                  <td><b>Name:</b></td>
                  <td>&emsp;{{i.emergency_name}}</td><br>
              <tr > 
                  <td><b>Relation:</b></td>
                  <td >&emsp;{{i.emergency_rel}}</td><br><br>
              <tr></div><div class="md">
                  <td><b> Valid from:</b></td>
                  <td>&emsp;{{from_date}}</td><br>
              <tr> 
                  <td><b> Valid to:</b></td>
                  <td>&emsp;{{to_date}}</td><br><br></div>
          </table>
  </div>

  </div></div>
</div>
</form>
