b{
    font-size: large;
}
  
  th,td{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: large;
  }

.table1 {

  width: 100%;
}

th, td{
    border: 1px solid #cdcdcd; padding: 8px;}

.color{
    color: white;
}

.table-row
{
    text-align: left;
}

.aligncommand{
  line-height: 20px; width: 400px; border: 1px ;
}
.text-center{
  width: 500px;
  background-color: darkblue;

}