
<h3><b><u>Basic Details :</u></b></h3>
<div class="container">
    <div *ngFor="let i of basic" >
    <table>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Fullname</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.fullname}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Fathername</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.fathername}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Aadhar number</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.aadhar_no}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Birth date</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.birthdate}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Nationality</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.nationality}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Permanent Address</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.permanent_address}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Present Address</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.present_address}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Pincode</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.pincode}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>State</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.state_name}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Religion</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.religion}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Martial Status</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.marital_status}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Blood group</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.blood_group}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Gender</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.gender}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>vaccinated</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.is_vaccinated}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Dose1 date</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.dose1_dt}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Dose2 date</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.dose2_dt}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Height</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.height}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Weight</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.weight}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Birth place</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">:    {{i.birth_place}}</td>
        </tr>
    </table>
    </div>

</div>
<br>
<br>
<br> 
<h3><b><u>Bank Details :</u></b></h3>
<div class="container">
    <div *ngFor="let i of basic" >
    <table>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Account number</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.bank_account_number}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>IFSC code</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.ifsc_code}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Bank name</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.bank_name}}</td>
        </tr>
    </table>
    </div>
</div>
<br>
<br>
<br> 
<h3><b><u>Emergency details:</u></b></h3>
<div class="container">
    <div *ngFor="let i of basic" >
    <table>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Contact name</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.emergency_name}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Contact number</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.mobile_no2}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Relation</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.emergency_rel}}</td>
        </tr>
    </table>
    </div>
</div>

<br>
<br>
<br> 

<h3><b><u>Other Details</u></b></h3>
<div class="container">
    <div *ngFor="let i of basic" >
    <table>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Any relations or friends employed in RANE group</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.any_empl_rane}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Acquaintance Name</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.existing_empl_name}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Place</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.existing_empl_company}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Ever worked in any company/plant/office in RANE group</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.prev_rane_empl}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Company/Agency Name Previously worked</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.prev_rane_exp}}</td>
        </tr>
        <tr>
            <td style="line-height: 30px; width: 300px; border: 1px ;"><b>Extra curricular activities (sports/hobbies)</b></td>
            <td style="line-height: 30px; width: 300px; border: 1px ;">: {{i.extra_curricular}}</td>
        </tr>
    
    
    </table>
    </div>
</div>

<br>
<br>
<br>

<h3><b><u>Language Details</u></b></h3>
<div><table class="table1">
        <thead class = "color">
        <tr>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Language Name
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Speak
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Read
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Write
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Mother Tongue
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Understand
            </th>
        </tr>
        </thead>
        <tbody class = "table-row" *ngFor = "let i of basic">

        <tr>
        <td>{{i.lang1_name}}</td>
        <td>{{i.lang1_speak == 1 ? tick: ex }}</td>
        <td>{{i.lang1_read== 1 ? tick: ex}}</td>
        <td>{{i.lang1_write== 1 ? tick: ex}}</td>
        <td>{{i.lang1_mothertounge == 1 ? tick: ex}}</td>
        <td>{{i.lang1_understand == 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang2_name }}</td>
        <td>{{i.lang2_speak == 1 ? tick: ex}}</td>
        <td>{{i.lang2_read== 1 ? tick: ex}}</td>
        <td>{{i.lang2_write== 1 ? tick: ex}}</td>
        <td>{{i.lang2_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang2_understand== 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang3_name}}</td>
        <td>{{i.lang3_speak== 1 ? tick: ex}}</td>
        <td>{{i.lang3_read== 1 ? tick: ex}}</td>
        <td>{{i.lang3_write== 1 ? tick: ex}}</td>
        <td>{{i.lang3_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang3_understand== 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang4_name}}</td>
        <td>{{i.lang4_speak== 1 ? tick: ex}}</td>
        <td>{{i.lang4_read== 1 ? tick: ex}}</td>
        <td>{{i.lang4_write== 1 ? tick: ex}}</td>
        <td>{{i.lang4_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang4_understand== 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang5_name}}</td>
        <td>{{i.lang5_speak== 1 ? tick: ex}}</td>
        <td>{{i.lang5_read== 1 ? tick: ex}}</td>
        <td>{{i.lang5_write== 1 ? tick: ex}}</td>
        <td>{{i.lang5_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang5_understand== 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang6_name}}</td>
        <td>{{i.lang6_speak== 1 ? tick: ex}}</td>
        <td>{{i.lang6_read== 1 ? tick: ex}}</td>
        <td>{{i.lang6_write== 1 ? tick: ex}}</td>
        <td>{{i.lang6_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang6_understand== 1 ? tick: ex}}</td>
        </tr>
    </tbody>
</table></div>
<br>
<br>
<br> 

<h3><b><u>Previous Employment Details</u></b></h3>

    <table class = "table1">
        <thead class = "color">
            <tr>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Name of company
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Designation 
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Period from
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Period to
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Salary Last Drawn
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                    Reason for leaving
                </th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let i of career">
                    <td>{{i.company_name}}</td>
                    <td>{{i.designation}}</td>
                    <td>{{i.period_from}}</td>
                    <td>{{i.period_to}}</td>
                    <td>{{i.last_salary}}</td>
                    <td>{{i.leaving_reason}}</td>
                </tr>

            </tbody>
    </table>

<br>
<br>
<br>
<h3><b><u>Education Details</u></b></h3>
<table class = "table1">
    <thead class = "color">
        <tr>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Name of School/Institution
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Exam passed 
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Year of Passing
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Department
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Certificate Number
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
             Certificate Date
            </th>
           <th
            class="text-center"
            style="width: 200px"
            style="background-color: darkblue"
            >
             Percentage
            </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let i of education">
                <td>{{i.school_name}}</td>
                <td>{{i.exam_passed}}</td>
                <td>{{i.passing_yr}}</td>
                <td>{{i.subjects}}</td>
                <td>{{i.cert_number}}</td>
                <td>{{i.cert_date}}</td>
                <td>{{i.percentage}}%</td>
            </tr>

        </tbody>
</table>

<br>
<br>
<br>
<h3><b><u>Family Details</u></b></h3>
<table class = "table1">
    <thead class = "color">
        <tr>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Relation name
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Relation type
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            age
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            occupation
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Dependent?
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
             contact Number
            </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let i of family">
                <td>{{i.relation_name}}</td>
                <td>{{i.relation_type}}</td>
                <td>{{i.age}}</td>
                <td>{{i.occupation}}</td>
                <td>{{i.dependent}}</td>
                <td>{{i.contact_number}}</td>
            </tr>

        </tbody>
</table>

<br>
<br>
<br>
<h3><b><u>Employee related Files</u></b></h3>
<table class = "table1">
    <thead class = "color">
        <tr>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            File name
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Open File 
            </th>

        </tr>
        </thead>
        <tbody class = "table-row"  *ngFor = "let i of basic">
            <tr>
                <td>Resume</td>
                <td><a [href] = 'urlforResume' target="_blank"> {{i.other_files1}}</a></td>
            </tr>
            <tr>
                <td>marksheet</td>
                <td><a [href] = 'urlforMark' target="_blank"> {{i.other_files2}}</a></td>
            </tr>
            <tr>
                <td>transfer certificate</td>
                <td><a [href] = 'urlforTc' target="_blank"> {{i.other_files3}}</a></td>
            </tr>
            <tr>
                <td>aadharcard</td>
                <td><a [href] = 'urlforaadhar' target="_blank"> {{i.other_files4}}</a></td>
            </tr>
            <tr>
                <td>bank pass book</td>
                <td><a [href] = 'urlforbankpass' target="_blank"> {{i.other_files5}}</a></td>
            </tr>
            <tr>
                <td>photo file</td>
                <td><a [href] = 'urlforphoto'  target="_blank"> {{i.other_files6}}</a></td>
            </tr>
            <tr>
                <td>signature</td>
                <td><a [href] = 'urlforSign' target="_blank"> {{i.other_files7}}</a></td>
            </tr>
        </tbody>
</table>
<br>
<br>
<br>
<h3><b><u>RML related Files</u></b></h3>
<table class = "table1">
    <thead class = "color">
        <tr>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            File name
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Open File 
            </th>

        </tr>
        </thead>
        <tbody class = "table-row"  *ngFor = "let i of basic">
            <tr>
                <td>appointmentorder_file</td>
                <td><a [href] = 'url_appointmentorder_file' target="_blank"> {{i.other_files8}}</a></td>
            </tr>
            <tr>
                <td>declaration_file</td>
                <td><a [href] = 'url_declaration_file' target="_blank"> {{i.other_files9}}</a></td>
            </tr>
            <tr>
                <td>medicalfitness_file</td>
                <td><a [href] = 'url_medicalfitness_file' target="_blank"> {{i.other_files10}}</a></td>
            </tr>
            <tr>
                <td>formA4_file</td>
                <td><a [href] = 'url_formA4_file' target="_blank"> {{i.other_files11}}</a></td>
            </tr>
            <tr>
                <td>form11_file</td>
                <td><a [href] = 'url_form11_file' target="_blank"> {{i.other_files12}}</a></td>
            </tr>
            <tr>
                <td>formh2_file</td>
                <td><a [href] = 'url_formh2_file'  target="_blank"> {{i.other_files13}}</a></td>
            </tr>
            <tr>
                <td>natx_file</td>
                <td><a [href] = 'url_natx_file' target="_blank"> {{i.other_files14}}</a></td>
            </tr>
        </tbody>
</table>
<br>
<br>
<br>



<div style="float: right;" *ngIf = 'flag'>
    <b><button type="submit" (click)="approved()" style="margin-bottom:auto;" class = "btn-primary btn-xlg">Approve</button>
        
    <button type="submit" (click)="rejected()" style="margin-bottom:auto;" class = "btn-danger btn-xlg">Reject</button></b>
    </div>
