<br>
<div class = "container">
    <div>
    <h3><b>Basic Details :</b></h3>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    </div>
    <div>
    <h3><b>Basic Details :</b></h3>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    </div>
    <div>
    <h3><b>Basic Details :</b></h3>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    </div>
    <div>
    <h3><b>Basic Details :</b></h3>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    <p><b> First Name :</b> {{var1}} </p>
    </div>
    <div>
        <h3><b>Basic Details :</b></h3>
        <p><b>  Name :</b> {{var1}} </p>
        <p><b> First Name :</b> {{var1}} </p>
        <p><b> First Name :</b> {{var1}} </p>
    </div>
    <div>
        <h3><b>Basic Details :</b></h3>
        <p><b> First Name :</b> {{var1}} </p>
        <p><b> First Name :</b> {{var1}} </p>
        <p><b> First Name :</b> {{var1}} </p>
    </div>
    <div>
        <h3><b>Basic Details :</b></h3>
        <p><b> First Name :</b> {{var1}} </p>
        <p><b> First Name :</b> {{var1}} </p>
        <p><b> First Name :</b> {{var1}} </p>
    </div>
    <div>
        <h3><b>Basic Details :</b></h3>
        <p><b> First Name :</b> {{var1}} </p>
        <p><b> First Name :</b> {{var1}} </p>
        <p><b> First Name :</b> {{var1}} </p>
    </div>
    <div style="float: right;">
    <b><button type="submit" (click)="approved()" style="margin-bottom:auto;" class = "btn-primary btn-xlg">Approve</button>
        
    <button type="submit" (click)="rejected()" style="margin-bottom:auto;" class = "btn-danger btn-xlg">Reject</button></b>
    </div>
    <br><br>
</div>
