<h3><b><u>Basic Details :</u></b></h3>
<div class="container">


    <div *ngFor="let i of basic" >
    <table>
        <tr>
            <td div class="hrviewdata"><b>Full Name</b></td>
            <td div class="hrviewdata">:    {{i.fullname}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Father Name</b></td>
            <td div class="hrviewdata">:    {{i.fathername}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Mobile Number</b></td>
            <td div class="hrviewdata">:    {{i.mobile_no1}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Aadhar Number</b></td>
            <td div class="hrviewdata">:    {{i.aadhar_no}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Birth Date</b></td>
            <td div class="hrviewdata">:    {{i.birthdate}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Nationality</b></td>
            <td div class="hrviewdata">:    {{i.nationality}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Permanent Address</b></td>
            <td div class="hrviewdata">:    {{i.permanent_address}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Present Address</b></td>
            <td div class="hrviewdata">:    {{i.present_address}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Pincode</b></td>
            <td div class="hrviewdata">:    {{i.pincode}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>State</b></td>
            <td div class="hrviewdata">:    {{i.state_name}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Religion</b></td>
            <td div class="hrviewdata">:    {{i.religion}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Martial Status</b></td>
            <td div class="hrviewdata">:    {{i.marital_status}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Blood Group</b></td>
            <td div class="hrviewdata">:    {{i.blood_group}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Gender</b></td>
            <td div class="hrviewdata">:    {{i.gender}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Vaccinated</b></td>
            <td div class="hrviewdata">: {{is_vaccinated}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Dose1 Date</b></td>
            <td div class="hrviewdata">:    {{i.dose1_dt}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Dose2 Date</b></td>
            <td div class="hrviewdata">:    {{i.dose2_dt}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Height</b></td>
            <td div class="hrviewdata">:    {{i.height}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Weight</b></td>
            <td div class="hrviewdata">:    {{i.weight}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Birth Place</b></td>
            <td div class="hrviewdata">:    {{i.birth_place}}</td>
        </tr>
    </table>
    </div>

</div>
<br>
<br>
<br> 
<h3><b><u>Bank Details :</u></b></h3>
<div class="container">
    <div *ngFor="let i of basic" >
    <table>
        <tr>
            <td div class="hrviewdata"><b>Account Number</b></td>
            <td div class="hrviewdata">: {{i.bank_account_number}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>IFSC Code</b></td>
            <td div class="hrviewdata">: {{i.ifsc_code}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Bank Name</b></td>
            <td div class="hrviewdata">: {{i.bank_name}}</td>
        </tr>
    </table>
    </div>
</div>
<br>
<br>
<br> 
<h3><b><u>Emergency details:</u></b></h3>
<div class="container">
    <div *ngFor="let i of basic" >
    <table>
        <tr>
            <td div class="hrviewdata"><b>Contact Name</b></td>
            <td div class="hrviewdata">: {{i.emergency_name}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Contact Number</b></td>
            <td div class="hrviewdata">: {{i.mobile_no2}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Relation</b></td>
            <td div class="hrviewdata">: {{i.emergency_rel}}</td>
        </tr>
    </table>
    </div>
</div>

<br>
<br>
<br> 

<h3><b><u>Other Details</u></b></h3>
<div class="container">
    <div *ngFor="let i of basic" >
    <table>
        <tr>
            <td div class="hrviewdata"><b>Any relations or friends employed in RANE group</b></td>
            <td div class="hrviewdata">: {{i.any_empl_rane}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Acquaintance Name</b></td>
            <td div class="hrviewdata">: {{i.existing_empl_name}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Place</b></td>
            <td div class="hrviewdata">: {{i.existing_empl_company}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Ever Worked In Any Company/Plant/Office In RANE Group</b></td>
            <td div class="hrviewdata">: {{i.prev_rane_empl}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Company/Agency Name Previously Worked</b></td>
            <td div class="hrviewdata">: {{i.prev_rane_exp}}</td>
        </tr>
        <tr>
            <td div class="hrviewdata"><b>Extra Curricular Activities (Sports/Hobbies)</b></td>
            <td div class="hrviewdata">: {{i.extra_curricular}}</td>
        </tr>
    
    
    </table>
    </div>
</div>

<br>
<br>
<br>

<h3><b><u>Language Details</u></b></h3>
<div><table class="table1">
        <thead class = "color">
        <tr>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Language Name
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Speak
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Read
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Write
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Mother Tongue
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
                Understand
            </th>
        </tr>
        </thead>
        <tbody class = "table-row" *ngFor = "let i of basic">

        <tr>
        <td>{{i.lang1_name}}</td>
        <td>{{i.lang1_speak == 1 ? tick: ex }}</td>
        <td>{{i.lang1_read== 1 ? tick: ex}}</td>
        <td>{{i.lang1_write== 1 ? tick: ex}}</td>
        <td>{{i.lang1_mothertounge == 1 ? tick: ex}}</td>
        <td>{{i.lang1_understand == 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang2_name }}</td>
        <td>{{i.lang2_speak == 1 ? tick: ex}}</td>
        <td>{{i.lang2_read== 1 ? tick: ex}}</td>
        <td>{{i.lang2_write== 1 ? tick: ex}}</td>
        <td>{{i.lang2_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang2_understand== 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang3_name}}</td>
        <td>{{i.lang3_speak== 1 ? tick: ex}}</td>
        <td>{{i.lang3_read== 1 ? tick: ex}}</td>
        <td>{{i.lang3_write== 1 ? tick: ex}}</td>
        <td>{{i.lang3_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang3_understand== 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang4_name}}</td>
        <td>{{i.lang4_speak== 1 ? tick: ex}}</td>
        <td>{{i.lang4_read== 1 ? tick: ex}}</td>
        <td>{{i.lang4_write== 1 ? tick: ex}}</td>
        <td>{{i.lang4_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang4_understand== 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang5_name}}</td>
        <td>{{i.lang5_speak== 1 ? tick: ex}}</td>
        <td>{{i.lang5_read== 1 ? tick: ex}}</td>
        <td>{{i.lang5_write== 1 ? tick: ex}}</td>
        <td>{{i.lang5_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang5_understand== 1 ? tick: ex}}</td>
        </tr>
        <tr>
        <td>{{i.lang6_name}}</td>
        <td>{{i.lang6_speak== 1 ? tick: ex}}</td>
        <td>{{i.lang6_read== 1 ? tick: ex}}</td>
        <td>{{i.lang6_write== 1 ? tick: ex}}</td>
        <td>{{i.lang6_mothertounge== 1 ? tick: ex}}</td>
        <td>{{i.lang6_understand== 1 ? tick: ex}}</td>
        </tr>
    </tbody>
</table></div>
<br>
<br>
<br> 

<h3><b><u>Previous Employment Details</u></b></h3>

    <table class = "table1">
        <thead class = "color">
            <tr>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Name of company
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Designation 
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Period from
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Period to
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                Salary Last Drawn
                </th>
                <th
                        class="text-center"
                        style="width: 200px"
                        style="background-color: darkblue"
                >
                    Reason for leaving
                </th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let i of career">
                    <td>{{i.company_name}}</td>
                    <td>{{i.designation}}</td>
                    <td>{{i.period_from}}</td>
                    <td>{{i.period_to}}</td>
                    <td>{{i.last_salary}}</td>
                    <td>{{i.leaving_reason}}</td>
                </tr>

            </tbody>
    </table>

<br>
<br>
<br>
<h3><b><u>Education Details</u></b></h3>
<table class = "table1">
    <thead class = "color">
        <tr>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Name of School/Institution
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Exam passed 
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Year of Passing
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Department
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Certificate Number
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
             Certificate Date
            </th>
           <th
            class="text-center"
            style="width: 200px"
            style="background-color: darkblue"
            >
             Percentage(%)
            </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let i of education">
                <td>{{i.school_name}}</td>
                <td>{{i.exam_passed}}</td>
                <td>{{i.passing_yr}}</td>
                <td>{{i.subjects}}</td>
                <td>{{i.cert_number}}</td>
                <td>{{i.cert_date}}</td>
                <td>{{i.percentage}}</td>
            </tr>

        </tbody>
</table>

<br>
<br>
<br>
<h3><b><u>Family Details</u></b></h3>
<table class = "table1">
    <thead class = "color">
        <tr>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Relation name
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Relation type
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            age
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            occupation
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
            Dependent?
            </th>
            <th
                    class="text-center"
                    style="width: 200px"
                    style="background-color: darkblue"
            >
             contact Number
            </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let i of family">
                <td>{{i.relation_name}}</td>
                <td>{{i.relation_type}}</td>
                <td>{{i.age}}</td>
                <td>{{i.occupation}}</td>
                <td>{{i.dependent}}</td>
                <td>{{i.contact_number}}</td>
            </tr>

        </tbody>
</table>

<br>
<br>
<br>
<h3><b><u>Employee related Files</u></b></h3>
<table class = "table1">
    <thead class = "color">
        <tr>
            <th style="background-color: darkblue; width: 30%;">File name</th>
            <th style="background-color: darkblue"> Open File</th>
        </tr>
        </thead>
        <tbody class = "table-row"  *ngFor = "let i of basic">
            <tr>
                <td>Resume</td>
                <td><a [href] = 'urlforResume' target="_blank"> {{i.other_files1}}</a></td>
            </tr>
            <tr>
                <td>Marksheet</td>
                <td><a [href] = 'urlforMark' target="_blank"> {{i.other_files2}}</a></td>
            </tr>
            <tr>
                <td>Transfer Certificate</td>
                <td><a [href] = 'urlforTc' target="_blank"> {{i.other_files3}}</a></td>
            </tr>
            <tr>
                <td>Aadhar Card</td>
                <td><a [href] = 'urlforaadhar' target="_blank"> {{i.other_files4}}</a></td>
            </tr>
            <tr>
                <td>Bank Pass Book</td>
                <td><a [href] = 'urlforbankpass' target="_blank"> {{i.other_files5}}</a></td>
            </tr>
            <tr>
                <td>Photo File</td>
                <td><a [href] = 'urlforphoto'  target="_blank"> {{i.other_files6}}</a></td>
            </tr>
            <tr>
                <td>Signature</td>
                <td><a [href] = 'urlforSign' target="_blank"> {{i.other_files7}}</a></td>
            </tr>
        </tbody>
</table>
<br>
<br>
<br>
<h3><b><u>RML related Files</u></b></h3>
<table style="width: 100%;">
    <thead class = "color">
        <tr>
            <th style="background-color: darkblue; width: 30%;">File name</th>
            <th style="background-color: darkblue"> Open File</th>

        </tr>
        </thead>
        <tbody class = "table-row"  *ngFor = "let i of basic">
            <tr>
                <td>Appointment Order</td>
                <td><a [href] = 'url_appointmentorder_file' target="_blank"> {{i.other_files8}}</a></td>
            </tr>
            <tr>
                <td>Declaration</td>
                <td><a [href] = 'url_declaration_file' target="_blank"> {{i.other_files9}}</a></td>
            </tr>
            <tr>
                <td>Medical Fitness</td>
                <td><a [href] = 'url_medicalfitness_file' target="_blank"> {{i.other_files10}}</a></td>
            </tr>
            <tr>
                <td>Form A4</td>
                <td><a [href] = 'url_formA4_file' target="_blank"> {{i.other_files11}}</a></td>
            </tr>
            <tr>
                <td>Form 11e</td>
                <td><a [href] = 'url_form11_file' target="_blank"> {{i.other_files12}}</a></td>
            </tr>
            <tr>
                <td>Form h2</td>
                <td><a [href] = 'url_formh2_file'  target="_blank"> {{i.other_files13}}</a></td>
            </tr>
            <tr>
                <td>natx</td>
                <td><a [href] = 'url_natx_file' target="_blank"> {{i.other_files14}}</a></td>
            </tr>
        </tbody>
</table>
<br>
<br>
<br>


<div style="float: right; margin-right: 10px;"  >
    <button  mat-raised-button *ngIf="apln_status != 'SUBMITTED' " class = "btn-secondary btn-xlg " style="margin-bottom:auto;" routerLink="/rml/new_joiners/trainee-application-status"> Go back to list</button>
    <button  mat-raised-button *ngIf="apln_status == 'SUBMITTED' " class = "btn-secondary btn-xlg " style="margin-bottom:auto;" routerLink="/rml/new_joiners/hr-approval"> Go back to list</button>
    <button  mat-raised-button *ngIf="apln_status == 'SUBMITTED' && action == 'approval' " type="submit" (click)="approved()" style="margin-bottom:auto;" class = "btn-primary btn-xlg">Approve</button>
    <button  mat-raised-button *ngIf="apln_status == 'SUBMITTED' && action == 'approval' " type="submit" (click)="rejected()" style="margin-bottom:auto;" class = "btn-danger btn-xlg">Reject</button>
    <button mat-raised-button class = "btn-info"  *ngIf="this.apln_status == 'APPROVED' " [routerLink]="['/idcard',this.apln_status, this.uniqueId.mobile, this.uniqueId.company]"><span style="font-size: 14px;">PRINT ID CARD</span></button>
<br><br>
</div>
<br>
<br>
