<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="div-c">
        <h1 class="text-center" style="color: #2A2550">
          Department Master
        </h1>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet" />
      </div>
      <mat-divider style="padding-bottom: 10px"></mat-divider>
      <div class="options">
        <button mat-fab color="primary" (click)="showAddUserForm()" aria-label="Example icon button with a delete icon"
          style="margin-right: 5px">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-fab (click)="exportexcel()" aria-label="Example icon button with a delete icon">
          <mat-icon>download</mat-icon>
        </button>
      </div>

      <!--
      <table id="table">
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr>
            <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
            >
              PLANT CODE
            </th>
            <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
            >
              DEPT NAME
            </th>
            <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
            >
              SAP CODE
            </th>
            <th
              class="text-center"
              style="width: 550px"
              style="background-color: darkblue"
            >
              ACTIVE STATUS
            </th>
            <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
            >
              Created On
            </th>
            <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
            >
              Created By
            </th>
            <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
            >
              Modified On
            </th>
            <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
            >
              Modified By
            </th>
            <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
            >
              &nbsp;
            </th>
            <link rel="preconnect" href="https://fonts.googleapis.com"/>
            <link
              rel="preconnect"
              href="https://fonts.gstatic.com"
              crossorigin
            />
            <link
              href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap"
              rel="stylesheet"
            />
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of master">
            <td>{{ user.plant_code }}</td>
            <td>{{ user.dept_name }}</td>
            <td>{{ user.sap_code }}</td>
            <td>{{ user.active_status }}</td>
            <td>{{ user.created_on }}</td>
            <td>{{ user.creted_by }}</td>
            <td>{{ user.modified_on }}</td>
            <td>{{ user.modified_by }}</td>
            <td>
              <button mat-raised-button color="accent" (click)="showEditUserForm(user.sno)">
                Edit
              </button>
              <button mat-raised-button color="warn" type="button" (click)="removeUser(user.sno)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </table>
      -->

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="PlantCode">
          <mat-header-cell *matHeaderCellDef> Plant Code </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.PlantCode}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DepartmentName">
          <mat-header-cell *matHeaderCellDef> Department Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.DepartmentName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="SAPCode">
          <mat-header-cell *matHeaderCellDef> SAP Code </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.SAPCode}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ActiveStatus">
          <mat-header-cell *matHeaderCellDef> Active Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ActiveStatus}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CreatedOn">
          <mat-header-cell *matHeaderCellDef> Created On </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CreatedOn}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CreatedBy">
          <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CreatedBy}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ModifiedOn">
          <mat-header-cell *matHeaderCellDef> Modified On </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ModifiedOn}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ModifiedBy">
          <mat-header-cell *matHeaderCellDef> Modified By </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ModifiedBy}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <div [style.display]="showAdd ? 'block' : 'none'" class="modal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="mt-4">
              <form *ngIf="userForm">
                <div class="container pt-5">
                  <div class="row">
                    <div class="col">
                      <h2 class="first">
                        <div-v>
                          <h1>Department Master</h1>
                          <hr />
                        </div-v>
                      </h2>
                      <form [formGroup]="form" (ngSubmit)="loginUser()">
                        <div class="form-group">
                          <label class="col-form-label">Plant Code</label><br />
                          <select style="border-radius: 10px; box-shadow: 100px" class="inputtext"
                            placeholder="Plant Code" formControlName="plant_code">
                            <option>Choose<br /><br /></option>
                            <option *ngFor="let pl of plant_code">
                              {{ pl }}
                            </option>
                          </select>
                          <br />
                          <br />
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">Dept Name</label><br />
                          <input type="text" style="border-radius: 10px; box-shadow: 100px" class="inputtext"
                            placeholder="dept_name" formControlName="dept_name" />
                          <br />
                          <br />
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">SAP CODE</label><br />
                          <input type="text" style="border-radius: 10px; box-shadow: 100px" class="inputtext"
                            placeholder="sap_code" formControlName="sap_code" />
                          <br />
                          <br />
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">Status</label><br />
                          <input type="radio" style="border-radius: 10px; box-shadow: 100px" class="inputtext"
                            formControlName="active_status" value="0" /> Active
                          <input type="radio" style="border-radius: 10px; box-shadow: 100px" class="inputtext"
                            formControlName="active_status" value="1" /> Inactive
                          <br />
                          <br />
                        </div>
                        <div class="modal-footer">
                          <button type="button" style="position: relative; right: 320px"
                            class="btn btn-info btn-sm mr-2" (click)="loginUser()">
                            <b>Submit</b>
                          </button>
                          <button type="button" style="position: relative; left: 10px" class="btn btn-info btn-sm mr-2"
                            data-dismiss="modal" (click)="hide()">
                            <b>Close</b>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div [style.display]="showEdit ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div>
              <form [formGroup]="form1" action="updateUser()">
                <h2 style="font-family: ariel">Department Masters</h2>
                <hr />
                <br />
                <div class="form-group">
                  <label class="col-form-label">Plant Code</label><br />
                  <select style="border-radius: 10px; box-shadow: 100px" class="inputtext" placeholder="Plant Code"
                    formControlName="plant_code">
                    <option>Choose<br /><br /></option>
                    <option *ngFor="let pl of plant_code">{{ pl }}</option>
                  </select>
                  <br />
                  <br />
                </div>
                <div class="form-group">
                  <label class="col-form-label">Dept Name</label><br />
                  <input type="text" style="border-radius: 10px; box-shadow: 100px" class="inputtext"
                    placeholder="dept_name" formControlName="dept_name" ngdisabled />
                  <br />
                  <br />
                </div>
                <div class="form-group">
                  <label class="col-form-label">SAP CODE</label><br />
                  <input type="text" style="border-radius: 10px; box-shadow: 100px" class="inputtext"
                    placeholder="sap_code" formControlName="sap_code" />
                  <br />
                  <br />
                </div>
                <div class="form-group">
                  <label class="col-form-label">ACTIVE Status</label><br />
                  <input type="radio" style="border-radius: 10px; box-shadow: 100px" class="inputtext"
                    formControlName="active_status" value="0" /> Active
                  <input type="radio" style="border-radius: 10px; box-shadow: 100px" class="inputtext"
                    formControlName="active_status" value="1" /> Inactive
                  <br />
                  <br />
                </div>
                <div class="modal-footer">
                  <button type="button" style="position: relative; right: 320px" class="btn btn-info btn-sm mr-2"
                    (click)="updateUser()">
                    <b>Submit</b>
                  </button>
                  <button type="button" style="position: relative; left: 10px" class="btn btn-info btn-sm mr-2"
                    data-dismiss="modal" (click)="hides()">
                    <b>Close</b>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>