
.btn{
    font-size: 14px;
    color: aliceblue;
    background: blue;
    float: left;
}


.container-fluid
{
    background: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255);
}
.example-spacer {
    flex: 1 1 auto;
  }

