
.btn{
    font-size: 14px;
    color: aliceblue;
    background: blue;
    float: left;
}


.container-fluid
{
    background: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255);
}
.example-spacer {
    flex: 1 1 auto;
  }
  .button{
    float: left;

  }
  .button1{
    float: left;
  }
  .btn {
    float: right;

}
.boxx{
    box-sizing: 100%;
}

th{
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  td{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: medium;
  }
  th { background: #c5c5c5;}
table 
{
  border-collapse: collapse;
  width: 100%;
}
td, th { border: 1px solid #cdcdcd; padding: 8px;}
.form-group
{
  background-color: lightgrey;
}

tbody
{
  text-align: center;

}

.table-wrapper
{
    display: block;
}
.search{
  margin-left: 0px;
}
.form-control
{
  font-size: small;
}