<div style='overflow-x:auto'>
<div class="mx-5">
    <p><b>Previous Employment Details</b></p>
    <table class = "table">
        <thead>
        <tr>
        <th scope="col" >SNo:</th>
        <th scope="col" >Name of the Company</th>
        <th scope="col">Designation</th>
        <th scope="col">Period From</th>
        <th scope="col">Period To</th>
        <th scope="col">Salary Last Drawn</th>
        <th scope="col">Reason for Leaving</th>
        </tr>
        <tr *ngFor="let data of prevData">
        <td><input type="text" style="width:25px" [(ngModel)]="data.sno" disabled></td>
        <td><input type="text" [(ngModel)]="data.name" (change)="valids($event)" ></td>
        <td><input type="text" [(ngModel)]="data.desig" (change)="valids($event)" ></td>
        <td><input type = "date" [(ngModel)]="data.periodf" max="2100-12-12" (change)="valids($event)"></td>
        <td><input type = "date" [(ngModel)]="data.periodt" max="2100-12-12" (change)="valids($event)" ></td>
        <td><input type = "number" [(ngModel)]="data.sal" (change)="valids($event)"></td>
        <td><input type = "text"[(ngModel)]="data.reason" (change)="valids($event)" (change)="valid()" ></td>
              

   
 
 
        <tr>
    </thead>    
    </table>

 </div> </div>

 <button type="submit" class="btn btn-primary btn-sm" style = "margin-top: 20px; text-align:center;"(click)="submit()"><span style="font-size: 14px;">Save</span></button>
 <span style = 'float:right;font-size: 20px;color: green;' class="animate" @slowAnimate *ngIf="state" >&nbsp; Details are saved</span>
