<!-- <div class = "container">
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>tamil</th>
                <th>telugu</th>
                <th>hindi</th>
                <th>english</th>
            </tr>
        </thead>
    </table>
</div> -->

<div class="mx-5">
    <table class = "table">
        <thead>
        <tr>

        <th scope="col" style="width: 30%">Language</th>
        <th scope="col">Speak</th>
        <th scope="col">Write</th>
        <th scope="col">Read</th>
        <th scope="col">MotherTongue</th>
        <th scope="col">Understand</th>
        </tr>
        <tr>
        <td>Tamil</td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        </tr>
        <tr>
        <td>English</td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        </tr>
        <tr>
        <td>Telugu</td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        </tr>
        <tr>
        <td>Hindi</td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        </tr>
        <tr>
        <td>Kannadam</td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        </tr>
        <tr>
        <td>Marati</td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        </tr>
        <tr>
        <td>Malayalam</td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        <td><input type = "checkbox"></td>
        </tr>
    </thead>    
    </table>
    <button type="submit" class="btn btn-primary btn-md" style = "margin-top: 20px; text-align:center;">Save</button>
</div> 