.datepicker{
    width: 400px;
    height: 500px;
}

.div-c{
    padding-top: 10px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.row{
    margin-right: 0px;
}

.fs-text{
    font-size: 1.25rem;
}

.reason .mat-form-field{
    width:300px !important;
}
