<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Add Plant</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="reset()" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  <div class="modal-content container">
      <br>
      <form [formGroup] = "form">
          <div class="row">
            <div class="col">
              <label>Company code: </label><br>
              <select class="form-control" formControlName = "company_code"  (change)="getValue($event)">
                <option value="">--select--</option>
                <option *ngFor="let i of company; let a = index" [ngValue]="i">{{a+1}}. {{i}}</option>
              </select>
            </div>
            <div class="col">
                  <label>Plant code: </label><br>
                  <input class="form-control"  type = "number" formControlName = "plant_code" [readonly] = 'editing_flag' >
              </div>
              <div class="row">
              <div class="col">
                  <label>Plant Name: </label><br>
                  <input class="form-control"  type = "text" formControlName = "plant_name">
              </div>
              
          </div><br>
              <div class="col">
                  <label>Plant shortname: </label><br>
                  <input class="form-control"  type = "text" formControlName = "pl">
              </div></div><br>
              <div class="row">
              <div class="col">
                <label>Plant HR sign </label><br>
                <input class="form-control"  type = "file" (change) = "upload($event)">
            </div>

        <br>
        
              <div class="col">
                  <label>Location: </label><br>
                  <input class="form-control"  type = "text" formControlName = "locatn">

              </div>

          </div><br>
          <div class="row">
            <div class="col">
                <label>Personal area: </label><br>
                <input class="form-control"  type = "number" formControlName = "personal_area">

            </div>
            <div class="col">
                <label>Payroll area: </label><br>
                <input class="form-control"  type = "number" formControlName = "payroll_area">
            </div>
        </div><br>
      <div class="row">
        <div class="col">
          <label>Address: </label><br>
          <textarea class="form-control"  type = "textarea" formControlName = "addr"></textarea>
      </div>

      </div>

      </form>
  </div>
  <div class="modal-footer">
      <button *ngIf="editing_flag==false" [disabled]="form.invalid" type="button" class="btn btn-success" (click)="save()" (click)="modal.close('Close click')" >Save</button>
      <button *ngIf="editing_flag==true" type="button" class="btn btn-success" (click)="editSave()" (click)="modal.close('Close click')" >Save</button>
      <button type="button" class="btn btn-danger" (click)="reset()" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<div class="container">
  <br>
  <div>
    <h1 class="title" ></h1>
  </div>
  <div class="button">
    <button mat-fab color="primary" (click)="open(content)"  style="float: right" aria-label="Example icon button with a delete icon">
        <mat-icon>person_add</mat-icon>
    </button></div>
    <div class = "button1">
    <button mat-fab style="float: right" aria-label="Example icon button with a delete icon" (click)="exportexcel()">
        <mat-icon>download</mat-icon>
    </button></div>
  <br><br><br>
  <div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
          <tr>
            <th
            class="text-center"
            style="width: 500px"
            style="background-color: darkblue"
    >
       SNo
              <th
                       div class="text-center"
              >
                 Plant Code
              </th>
              <th
                       div class="text-center"
              >
                Plant Name
              </th>
              <th
                       div class="text-center"
              >
                Plant shortname
              </th>
              <th
                      class="text-center1"
                      style="width: 500px"
                      style="background-color: darkblue"
              >
                Address
              </th>
              <th
                      class="text-center"
                      style="width:500px"
                      style="background-color: darkblue"
              >
                Location
              </th>
              <!-- <th
                       div class="text-center"
              >
                plant sign
              </th> -->
              <th
                       div class="text-center"
              >
                Personal area
              </th>
              <th
                       div class="text-center"
              >
                Payroll area
              </th>

              <th
                       div class="text-center"
                      >
                  Action
              </th>
            </tr>
            </thead>
            <tbody >
                <tr *ngFor = "let i of dummy; let a = index">
                    <td>{{a+1}}</td>
                    <td>{{i.plant_code}}</td>
                    <td>{{i.plant_name}}</td>
                    <td>{{i.pl}}</td>
                    <td>{{i.addr}}</td>
                    <td>{{i.locatn}}</td>
                    <!-- <td>{{i.plant_sign}}</td> -->
                    <td>{{i.personal_area}}</td>
                    <td>{{i.payroll_area}}</td>

                    <td>
                        <button mat-mini-fab color = 'accent' (click)= "edit(a)" (click)="opentoedit(content)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" type="button" (click)="delete(a)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
  </div>
  
  
</div>