<div class= "container">
  <div class="md-5">
  <br>
  
      <mat-label> <div class="fs-text"><b>Shift Change</b></div></mat-label>
      <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  
  
  <br><br><br>
  <h1 class="title" >Shift Change Status</h1>
  <hr style="border-block-color: orange" />
  <div class = "table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
          <thead>
            <tr>
              <th
              class="text-center"
              style="width: 500px"
              style="background-color: darkblue"
      >
         SNo
                <th
                         div class="text-center"
                >
                   Date
                </th>
                <th
                         div class="text-center"
                >
                 In
                </th>
                <th
                         div class="text-center"
                >
                 Out
                </th>
                <th
                         div class="text-center"
                >
              Current Shift
                </th>
                <th
                         div class="text-center"
                        >
                  Actual Shift
                </th>
                <th
                div class="text-center"
               >
     Reliever Name
       </th>
                <th
                         div class="text-center"
                        >
             Status
                </th>
              </tr>
              </thead>
              <tbody >
                  <tr *ngFor = "let i of table_data; let a = index">
                      <td>{{a+1}}</td>
                      <td>{{i.date}}</td>
                      <td>{{i.in_time}}</td>
                      <td>{{i.out_time}</td>
                      <td>{{i.current_shift}}</td>
                      <td>{{i.actual_shift}}</td>
                      <td>{{i.reliever_name}}</td>
                      <td>{{i.status}}</td>
    
                      <td>
    
  
                      </td>
                  </tr>
            </tbody>
        </table>
    </table>
  </div>
  
  
  
  
  
  