<!-- <div class = 'container'> -->
<div class="textblock"><div class="mx-5"><h1><b>Trainee Application</b></h1></div></div>
    <img src="../../assets/rane.png" class= "img">
   
    <br>
<br>
<app-basic></app-basic>
<hr >
<br> 
<br>
<app-banks></app-banks>
<hr>
<br>
<br>
<!-- <app-family-detail></app-family-detail> -->
<app-familyedit></app-familyedit>
<br>
<app-emergency></app-emergency>
<hr>
<br>
<br>
<!-- <app-educational></app-educational> -->
<app-education-edit></app-education-edit>
<hr>
<br>
<br>
<!-- <app-prev></app-prev> -->
<app-prev-edit></app-prev-edit>
<hr>
<br>
<br>
<app-language></app-language>
<hr>
<br>
<br>
<app-other></app-other>
<hr >
<br>
<br>
<app-choose-files></app-choose-files>
<hr>
<div class = "btn">

<button type="submit" style="margin-bottom:auto;" (click)="submitted()" (click)="allSave()" class = "btn-primary btn-sm">{{submit}}</button>

<button *ngIf="ishr == 'true' "  class = "btn-secondary btn-sm "  routerLink="/rml/new_joiners/trainee-application-status"> Go back to list</button>

<button class = "btn-info btn-sm "  *ngIf= "this.status.status == 'APPROVED' " [routerLink]="['/idcard',this.status.status, this.uniqueId.mobile]">PRINT ID CARD</button>
</div>
<br> 
<br>
<br>
<br>
<!-- </div> -->