<!-- <div class = 'container'> -->
<div style="overflow-x:none">
<div class="textblock"><div class="mx-5"><h1><b><u>Trainee Application</u></b></h1></div></div>
<img *ngIf = "ishr == 'undefined' " src="assets/rane.png" class= "img">
<ng-container *ngIf="Load">
    <app-basic [basic]="details" (emit)="eventchanger_basic($event)"></app-basic>
</ng-container>
<hr >
<br> 
<br>
<ng-container *ngIf="Load">
<app-banks [bank]="details" ></app-banks>
</ng-container>
<hr>
<br>
<br>
<app-familyedit (emit)="eventchanger_fam($event)"></app-familyedit>
<br>
<ng-container *ngIf="Load">
    <app-emergency [emer]="details" (emit)="eventchanger_emer($event)"></app-emergency>
</ng-container>
<hr>
<br>
<br>
<!-- <app-educational></app-educational> -->
<app-education-edit (emit)="eventchanger_edu($event)"></app-education-edit>
<hr>
<br>
<br>
<!-- <app-prev></app-prev> -->
<app-prev-edit></app-prev-edit>
<hr>
<br>
<br>
<ng-container *ngIf="Load">
    <app-language [details]="details" ></app-language>
</ng-container>
<hr>
<br>
<br>
<ng-container *ngIf="Load">
    <app-other [other]="details" ></app-other>
</ng-container>
<hr >
<br>
<br>
<ng-container *ngIf="Load">
    <app-choose-files [basicDetails]="details" (emit) = "eventchanger_choose($event)"></app-choose-files>
</ng-container>
<hr>
<div class="row">
    <div class="col">
<div class = "btn1">

<button mat-raised-button type="submit" style="margin-bottom:auto;" [disabled] = 'message' (click)="allSave()" class = "btn btn-primary btn-sm"><span style="font-size: 14px;">{{submit}}</span></button>
<button mat-raised-button *ngIf="ishr == 'true' "  class = "btn btn-secondary btn-sm "  routerLink="/rml/new_joiners/trainee-application-status"><span style="font-size:14px"> Go back to list</span></button>
</div></div><div class="col">
<button mat-raised-button class = "btn btn-info btn-sm "  *ngIf= "this.status.status == 'APPROVED' " [routerLink]="['/idcard',this.status.status, this.uniqueId.mobile, this.uniqueId.company]"><span style="font-size: 14px;">PRINT ID CARD</span></button>
<div *ngIf = 'message' ><span style="color: red;" >(Mandatory fields are not yet filled. Submit is not Permitted. )</span></div>

</div></div>
<br> 
<br>
<br>
<br>
<!-- </div> --></div>