.btn{
    border-radius: 5px;
    margin-left: 49.4%;
}
h3{
    margin-top:20px;
    font-weight:bold;
}
input{
    border-radius:70px;
}
input:hover{
    border:2px solid grey;
}
select{
    border-radius:100px;
}
select:hover{
    border:2px solid grey;
}
.img{
    border-radius: 10px;
    margin-left: 50%;
}

.container{
    display: inline-block;
    margin-left: 4%;
  }

.text{
    margin: 10px;
    font-size: 22px;
  }
  .textblock{
    padding-top: 40px;
      width:10000px;
      height:100px;
      background-color: blue;
      border:0px solid rgb(235, 235, 244); 
      position: relative;
      text-shadow: 1px;
      text-align: center;
    }