<div class="textblock"><div class="h1"><h1><b>DHRM</b></h1></div></div>
    <img src="../../assets/rane.png" class= "img">
   
    <br>
<br>
<app-basic></app-basic>
<hr>
<br>
<br>
<app-banks></app-banks>
<hr>
<br>
<br>
<app-family-detail></app-family-detail>
<br>
<br>
<app-emergency></app-emergency>
<hr>
<br>
<br>
<app-educational></app-educational>
<hr>
<br>
<br>
<app-prev></app-prev>
<hr>
<br>
<br>
<app-language></app-language>
<hr>
<br>
<br>
<app-other></app-other>
<hr>
<button type="submit" style="margin-bottom:auto;" (click)="allSave()"  class = "btn btn-primary btn-sm">SUBMIT</button>
<br>
<br>



