<!-- <div class = "container mt-5">
    <table class = "table">
        <thead>
            <tr>

                <th scope="col">Language</th>
                <th scope="col">Speak</th>
                <th scope="col">Write</th>
                <th scope="col">Read</th>
                <th scope="col">MotherTongue</th>
                <th scope="col">Understand</th>
        </tr>
        </thead>
        <tbody>
            <th scope="row">
                <input class="form-check-input" type="checkbox" />           </th>
        </tbody>
    </table>
</div> -->