<div class = "container">
    <div  style = "margin-top: 40px;">   
      <form [formGroup]="form" (ngSubmit)="filter()">
      <div class = "row">
      <div class = "col-sm-3 boxx">
      <label for="Status" id="center"> Status: </label>
        <br>
          <select name="Status" id="Status" formControlName = "status">
            <option value="pending" selected>PENDING</option>
            <option value="submitted">SUBMITTED</option>
            <option value="approved">APPROVED</option>
            <option value="Rejected">REJECTED</option>
            <option value="appointed">APPOINTED</option>
          </select> 
      </div>

    </div>
      <button class = "btn btn-primary btn-lg" (click)="filter()" >filter</button>
      <br><br>
        <div class = "table-wrapper">
        <table class="table table-bordered table-striped table-hover">
          <table id="table">
              <thead>
              <tr>
                  <th
                          class="text-center"
                          style="width: 500px"
                          style="background-color: darkblue"
                  >
                     Date
                  </th>
                  <th
                          class="text-center"
                          style="width: 500px"
                          style="background-color: darkblue"
                  >
                      Full name
                  </th>
                  <th
                          class="text-center"
                          style="width: 500px"
                          style="background-color: darkblue"
                  >
                      Father Name
                  </th>
                  <th
                          class="text-center"
                          style="width: 500px"
                          style="background-color: darkblue"
                  >
                      Date of birth 
                  </th>
                  <th
                          class="text-center"
                          style="width: 500px"
                          style="background-color: darkblue"
                  >
                      mobileNumber
                  </th>
                  <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
                >
                     ID NO
                 </th>
                  <th
                          class="text-center"
                          style="width: 500px"
                          style="background-color: darkblue"
                  >
                      Aaadhar number
                  </th>
                  <th
                          class="text-center"
                          style="width: 500px"
                          style="background-color: darkblue"
                  >
                      Application status
                  </th>
    
                  <th
                          class="text-center"
                          style="width: 500px"
                          style="background-color: darkblue"
                          >
                      Approval
                  </th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of filterinfo">
                        <td>{{ i.doj }}</td>
                        <td>{{ i.fullname }}</td>
                        <td>{{ i.fathername }}</td>
                        <td>{{ i.birthdate }}</td>
                        <td>{{ i.mobile_no1 }}</td>
                        <td>{{i.trainee_idno}}</td>
                        <td>{{ i.aadhar_no }}</td>
                        <td>{{ i.apln_status }}</td>
                        <td>
                            <div *ngIf= "i.apln_status == 'SUBMITTED'">
                            <button mat-mini-fab color = "success" [routerLink]="['/rml/new_joiners/hr-view', i.mobile_no1,i.apln_status ]" >
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </table>
        </div>
        </form>
    </div>
</div>