<div style='overflow-x:auto'>
<div class="mx-5">
    <p><b> Family Details</b></p>
    <table class = "table">
        <thead>
        <tr>
        <th scope="col" >SNo</th>
        <th scope="col" >Name</th>
        <th scope="col">Relation</th>
        <th scope="col">Age</th>
        <th scope="col">Occupation</th>
        <th scope="col">ContactNumber</th>
        <th scope="col">Dependent/Self-Sufficient</th>
        </tr>
        <tr *ngFor="let data of familyData">
            <td><input type="text" style="width:25px;"[(ngModel)]="data.sno" disabled ></td>
        <td><input type="text" [(ngModel)]="data.name" (change)="valids($event)" ><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
        <td><select type = "text" [(ngModel)]="data.relation" (click)= "sendData()" (change)="valids($event)" ><option *ngFor= "let i of relation">
          {{i}}
  </option> ></select><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
        <td><input type = "tel" maxlength="2" pattern="/d{10}" [(ngModel)]="data.age" (change)="valids($event)" ><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
        <td><input type = "text"[(ngModel)]="data.occupation" (change)="valids($event)" ><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
        <td><input type = "tel" maxlength="10" pattern="/d{10}" [(ngModel)]="data.contactnumber" (change)="valids($event)"><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
               <td><select type = "text" [(ngModel)]="data.dependent" (change)="valids($event)" (change)="valid()" (click)="sendData()"><option *ngFor= "let i of dependent">
          {{i}}
  </option> ></select><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>

   
 
 
        <tr>
    </thead>    
    </table>

</div></div>

<button type="submit" class="btn btn-primary btn-sm" style = "margin-top: 20px; text-align:center;" [disabled]=flag (click)="submit()">Save</button>
<span style = 'float:right;font-size: 20px;color: green;' class="animate" @slowAnimate *ngIf="state" >&nbsp; Details are saved</span>

 