<div class="mx-5">
    <b> Family Details:</b>
    <table class = "table">
        <thead>
        <tr>
        <th scope="col" >SNo</th>
        <th scope="col" >Name</th>
        <th scope="col">Relation</th>
        <th scope="col">Age</th>
        <th scope="col">Occupation</th>
        <th scope="col">ContactNumber</th>
        <th scope="col">Dependent/Self-Sufficient</th>
        </tr>
        <tr *ngFor="let data of familyData">
            <td><input type="text" style="width:25px;"[(ngModel)]="data.sno" disabled ></td>
        <td><input type="text" [(ngModel)]="data.name" ></td>
        <td><select type = "text" [(ngModel)]="data.relation" (click)="sendData()"><option *ngFor= "let i of relation">
          {{i}}
  </option> ></select></td>
        <td><input type = "text" [(ngModel)]="data.age" ></td>
        <td><input type = "text"[(ngModel)]="data.occupation" ></td>
        <td><input type = "text"[(ngModel)]="data.contactnumber" ></td>
               <td><select type = "text" [(ngModel)]="data.dependent" (click)="sendData()"><option *ngFor= "let i of dependent">
          {{i}}
  </option> ></select></td>

   
 
 
        <tr>
    </thead>    
    </table>
    <button type="submit" class="btn btn-primary btn-sm" style = "margin-top: 20px; text-align:center;" (click)="submit()">Save</button>
</div>


 