.family-btn{
    border-radius: 0px;
    margin-left:50%;
    width:90px 

}
.star-color{
    color: red;
}
#text{
    outline:none;
}
.form-control{
    font-size: 16px;

}
.form-header{
    background-color: white;
    color:black;
    font-size: 16px;
}