<div style='overflow-x:auto'>
<div class="mx-5">
    <p><b> Family Details</b></p>
    <b><h3>(<span class = "star-color">*</span> fields are required)</h3></b>

    <table class = "table">
        <thead>
        <tr>
        <th scope="col" >SNo</th>
        <th scope="col" >Name</th>
        <th scope="col">Relation</th>
        <th scope="col">Age</th>
        <th scope="col">Occupation</th>
        <th scope="col">ContactNumber&nbsp;<span *ngIf = 'mobile_validate' style="color: red;">(*Should be equal to 10)</span></th>
        <th scope="col">Dependent/Self-Sufficient</th>
        </tr>
        <tr *ngFor="let data of familyData">
            <td><input type="text" style="width:25px;"[(ngModel)]="data.sno" disabled ></td>
        <td><input type="text" [(ngModel)]="data.name" (ngModelChange)="valids($event, 'name')" ><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
        <td><select type = "text" [(ngModel)]="data.relation" (ngModelChange)= "sendData()" (ngModelChange)="valids($event, data)" ><option *ngFor= "let i of relation">
          {{i}}
  </option> ></select><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
        <td><input type = "number" maxlength="2" pattern="/d{10}" [(ngModel)]="data.age" (ngModelChange)="valids($event, 'age')" (ngModelChange)="valid()" ><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
        <td><input type = "text"[(ngModel)]="data.occupation" (ngModelChange)="valids($event, 'occ')"><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
        <td><input type = "number" maxlength="10" pattern="/d{10}" [(ngModel)]="data.contactnumber" (change)="valids($event, 'ContactNumber')" (ngModelChange)="valid()"><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>
               <td><select type = "text" [(ngModel)]="data.dependent" (ngModelChange)="valids($event, 'dependent')" (ngModelChange)="valid()" (ngModelChange)="sendData()"><option *ngFor= "let i of dependent">
          {{i}}
  </option> ></select><span *ngIf = "data.sno == '1' " class = "star-color">*</span></td>

   
 
 
        <tr>
    </thead>    
    </table>

</div></div>

<button mat-raised-button type="submit" class="btn btn-primary btn-sm" style = "margin-top: 20px; text-align:center;" [disabled]=flag (click)="submit()"><span style="font-size: 14px;">Save</span></button>
<span style = 'float:right;font-size: 20px;color: green;' class="animate" @slowAnimate *ngIf="state" >&nbsp; Details are saved</span>

 